<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="code">
    <script>
        $(function () {
            var rates = {
                btc: parseFloat("[[${btcRate.toPlainString()}]]"),
                usd: parseFloat("[[${usdRate.toPlainString()}]]")
            };
            var values = {
                gic: 0,
                btc: 0,
                usd: 0
            };

            $("#chooseBTC").click(function () {
                $("[id$=\"IncomeBtc\"]").removeClass("d-none");
                $("[id$=\"IncomeUsd\"]").addClass("d-none");
            });

            $("#chooseUSD").click(function () {
                $("[id$=\"IncomeBtc\"]").addClass("d-none");
                $("[id$=\"IncomeUsd\"]").removeClass("d-none");
            });

            $("#btcAmountGIC, #usdAmountGIC").on("keypress keyup", function (e) {
                var $this = $(this);
                var oldGicValue = parseFloat($this.val());
                setTimeout(function () {
                    var newGicValue = parseFloat($this.val());
                    if (oldGicValue === newGicValue) {
                        setGic(newGicValue);
                    }
                }, 1000);
            });

            $("#btcAmountBTC").on("keypress keyup", function (e) {
                var $this = $(this);
                var oldBtcValue = parseFloat($this.val());
                setTimeout(function () {
                    var newBtcValue = parseFloat($this.val());
                    if (oldBtcValue === newBtcValue) {
                        setBtc(newBtcValue);
                    }
                }, 500);
            });

            $("#usdAmountUSD").on("keypress keyup", function (e) {
                var $this = $(this);
                var oldUsdValue = parseFloat($this.val());
                setTimeout(function () {
                    var newUsdValue = parseFloat($this.val());
                    if (oldUsdValue === newUsdValue) {
                        setUsd(newUsdValue);
                    }
                }, 500);
            });

            function setGic(gic) {
                values.gic = gic.toFixed(0);
                values.btc = (gic * rates.btc).toFixed(8);
                values.usd = (gic * rates.usd).toFixed(2);

                $("#btcAmountGIC").val(values.gic);
                $("#usdAmountGIC").val(values.gic);
                $("#btcAmountBTC").val(values.btc);
                $("#usdAmountUSD").val(values.usd);
                calculate();
            }

            function setBtc(btc) {
                values.btc = btc.toFixed(8);
                values.gic = (values.btc / rates.btc).toFixed(0);
                values.usd = (values.gic * rates.usd).toFixed(2);

                $("#btcAmountGIC").val(values.gic);
                $("#usdAmountGIC").val(values.gic);
                $("#btcAmountBTC").val(values.btc);
                $("#usdAmountUSD").val(values.usd);
                calculate();
            }

            function setUsd(usd) {
                values.usd = usd.toFixed(2);
                values.gic = (values.usd / rates.usd).toFixed(0);
                values.btc = (values.gic * rates.btc).toFixed(8);

                $("#btcAmountGIC").val(values.gic);
                $("#usdAmountGIC").val(values.gic);
                $("#btcAmountBTC").val(values.btc);
                $("#usdAmountUSD").val(values.usd);
                calculate();
            }

            function formatDuration(seconds) {
                var days = Math.floor(seconds / (3600 * 24));
                seconds -= days * 3600 * 24;
                var hrs = Math.floor(seconds / 3600);
                seconds -= hrs * 3600;
                var mnts = Math.floor(seconds / 60);
                seconds -= mnts * 60;
                return (days > 0 ? (days + "d ") : "") + hrs + "h " + mnts + "m";
            }

            function calculate() {
                var masternodeResult = false;
                var posResult = false;
                $("#btcAmountGIC").attr("readonly", true);
                $("#btcAmountBTC").attr("readonly", true);
                $("#usdAmountGIC").attr("readonly", true);
                $("#usdAmountUSD").attr("readonly", true);

                $.getJSON("/api/masternodes/info", function (info) {
                    var multiply = values.gic / 1000.0;
                    var rewardFrequency = formatDuration(3600 * 16 * 24 / info.daily);

                    $("#masternodeCount").text(info.masternodeCount);
                    $("#rewardFrequency").text(rewardFrequency);


                    $("#mnDailyIncomeGic").text(numeral(info.daily * multiply).format('0,0.00'));
                    $("#mnWeeklyIncomeGic").text(numeral(info.daily * 7 * multiply).format('0,0.00'));
                    $("#mnMonthlyIncomeGic").text(numeral(info.monthly * multiply).format('0,0.00'));
                    $("#mnAnnualIncomeGic").text(numeral(info.annual * multiply).format('0,0.00'));

                    $("#mnDailyIncomeUsd").text(numeral(info.daily * rates.usd * multiply).format('0,0.00'));
                    $("#mnWeeklyIncomeUsd").text(numeral(info.daily * 7 * rates.usd * multiply).format('0,0.00'));
                    $("#mnMonthlyIncomeUsd").text(numeral(info.monthly * rates.usd * multiply).format('0,0.00'));
                    $("#mnAnnualIncomeUsd").text(numeral(info.annual * rates.usd * multiply).format('0,0.00'));

                    $("#mnDailyIncomeBtc").text(numeral(info.daily * rates.btc * multiply).format('0,0.00000000'));
                    $("#mnWeeklyIncomeBtc").text(numeral(info.daily * 7 * rates.btc * multiply).format('0,0.00000000'));
                    $("#mnMonthlyIncomeBtc").text(numeral(info.monthly * rates.btc * multiply).format('0,0.00000000'));
                    $("#mnAnnualIncomeBtc").text(numeral(info.annual * rates.btc * multiply).format('0,0.00000000'));

                    $(".p-blu-h3.margin-0").text('ROI ' + (numeral(info.roi).format('0,0.00')) + '%');
                    $("#mnRoiDays em").text(numeral(info.days).format('0'));

                    masternodeResult = true;
                    if (masternodeResult && posResult) {
                        $("#btcAmountGIC").removeAttr("readonly");
                        $("#btcAmountBTC").removeAttr("readonly");
                        $("#usdAmountGIC").removeAttr("readonly");
                        $("#usdAmountUSD").removeAttr("readonly");
                    }
                });

                $.getJSON("https://giantpay.network/api/gic/calc?amount=" + values.gic, function (r) {
                    console.log(r);
                    $("#stakeInterval").text();

                    $("#posCalculator #averageDifficulty").text(r.avgDiff.toFixed(1));
                    $("#stakeInterval").text(formatDuration(r.avgDiffTime));

                    //GIC
                    $("#sDailyIncomeGic em").text(numeral(4 * 86400.0 / r.avgDiffTime).format('0,0.00'));
                    $("#sWeeklyIncomeGic em").text(numeral(4 * 604800.0 / r.avgDiffTime).format('0,0.00'));
                    $("#sMonthlyIncomeGic em").text(numeral(4 * 2592000.0 / r.avgDiffTime).format('0,0.00'));
                    $("#sAnnualIncomeGic em").text(numeral(4 * 31536000 / r.avgDiffTime).format('0,0.00'));

                    //USD
                    $("#sDailyIncomeUsd em").text(numeral(4 * 86400.0 / r.avgDiffTime * rates.usd).format('0,0.000'));
                    $("#sWeeklyIncomeUsd em").text(numeral(4 * 604800.0 / r.avgDiffTime * rates.usd).format('0,0.00'));
                    $("#sMonthlyIncomeUsd em").text(numeral(4 * 2592000.0 / r.avgDiffTime * rates.usd).format('0,0.00'));
                    $("#sAnnualIncomeUsd em").text(numeral(4 * 31536000 / r.avgDiffTime * rates.usd).format('0,0.00'));

                    //BTS
                    $("#sDailyIncomeBtc em").text(numeral(4 * 86400.0 / r.avgDiffTime * rates.btc).format('0,0.00000000'));
                    $("#sWeeklyIncomeBtc em").text(numeral(4 * 604800.0 / r.avgDiffTime * rates.btc).format('0,0.00000000'));
                    $("#sMonthlyIncomeBtc em").text(numeral(4 * 2592000.0 / r.avgDiffTime * rates.btc).format('0,0.00000000'));
                    $("#sAnnualIncomeBtc em").text(numeral(4 * 31536000 / r.avgDiffTime * rates.btc).format('0,0.00000000'));

                    //TOTAL BTS
                    $("#totalBtc").text((4 * rates.btc).toFixed(6) + " BTC");
                    $("#totalBtcDaily").text((4 * 86400.0 * rates.btc / r.avgDiffTime).toFixed(6) + " BTC");
                    $("#totalBtcWeekly").text((4 * 604800.0 * rates.btc / r.avgDiffTime).toFixed(6) + " BTC");
                    $("#totalBtcMonthly").text((4 * 2592000.0 * rates.btc / r.avgDiffTime).toFixed(6) + " BTC");

                    //TOTAL FIC
                    $("#totalGic").text("4.00 GIC");
                    $("#totalGicDaily").text((4 * 86400.0 / r.avgDiffTime).toFixed(6) + " GIC");
                    $("#totalGicWeekly").text((4 * 604800.0 / r.avgDiffTime).toFixed(6) + " GIC");
                    $("#totalGicMonthly").text((4 * 2592000.0 / r.avgDiffTime).toFixed(6) + " GIC");

                    //TOTAL USD
                    $("#totalUsd").text("$" + (4 * rates.usd).toFixed(6));
                    $("#totalUsdDaily").text("$" + (4 * 86400.0 * rates.usd / r.avgDiffTime).toFixed(6));
                    $("#totalUsdWeekly").text("$" + (4 * 604800.0 * rates.usd / r.avgDiffTime).toFixed(6));
                    $("#totalUsdMonthly").text("$" + (4 * 2592000.0 * rates.usd / r.avgDiffTime).toFixed(6));


                    //CALC STAKE
                    $.getJSON("https://giantpay.network/api/gic/avg", function (stats) {
                        $("#minStake").text(stats.minStake.toFixed(2) + " GIC");
                        $("#minDiff").text(r.minDiff.toFixed(3));
                        $("#avgStake").text(stats.avgStake.toFixed(2) + " GIC");
                        $("#avgDiff").text(r.avgDiff.toFixed(3));
                        $("#maxStake").text(stats.maxStake.toFixed(2) + " GIC");
                        $("#maxDiff").text(r.maxDiff.toFixed(3));

                        $("#statistics").show();
                    });

                    $(".proof__income_roi em").text(numeral(100 * 4 * 31536000 / r.avgDiffTime / values.gic).format('0,0.00') + '%');
                    $("#sRoiDays em").text(numeral(values.gic / (4 * 86400.0 / r.avgDiffTime)).format('0'));

                    posResult = true;
                    if (masternodeResult && posResult) {
                        $("#btcAmountGIC").removeAttr("readonly");
                        $("#btcAmountBTC").removeAttr("readonly");
                        $("#usdAmountGIC").removeAttr("readonly");
                        $("#usdAmountUSD").removeAttr("readonly");
                    }
                });
            }

            setGic(1000);
        });
    </script>
</th:block>
</body>
</html>