<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="block">
    <section class="digital-asset">
        <div class="container">
            <h2 class="line-blu white-color">Digital Asset</h2>
            <div class="digital-asset-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="white-color">Giant Coin (GIC)</h3>
                        <p class="margin-25 white-color font20">
                            The Giant blockchain has its own internal digital asset called Giant Coin (GIC) — a
                            universal
                            means of payment in all products based on the Giant technology. GIC is also required for
                            every
                            Giant smart contracts developer — 1000 Giant Coins are needed to launch a masternode, which
                            opens up a possibility to create smart contracts. You can become a user of this
                            cryptocurrency
                            by installing a wallet client compatible with your operating system.
                        </p>
                        <h3 class="white-color">Wallet</h3>
                        <div class="button-wrapper button-wrapper2">
                            <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-win64.zip"
                               target="_blank"
                               class="blu-button blu-button2">Windows</a>
                            <a href="#"
                               rel="nofollow"
                               target="_blank"
                               class="button-gray blu-button blu-button2 d-none">IOS</a>
                            <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-linux64.zip"
                               target="_blank"
                               class="blu-button blu-button2">Linux</a>
                            <a href="https://github.com/GiantPay/GiantCore/releases"
                               rel="nofollow"
                               target="_blank"
                               class="button-gray blu-button blu-button2 d-none">Android</a>
                            <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/GIANT-Qt.dmg"
                               target="_blank"
                               class="blu-button blu-button2">Mac os</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="white-color">Specification</h3>
                        <div class="specification-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Name</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>Giant</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Ticker</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>GIC</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Type</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>POS + MASTERNODE</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Block Time</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>120 seconds</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Difficulty Retarget</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>Every block</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Maturity</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>200</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">PoW Supply</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>1,323,000</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">PoS Supply</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>Infinity</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Premine</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>200 000 GIC</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">Masternode Collateral</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>1000 GIC</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">P2P Port</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>40444</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="title-specification white-color">RPC Port</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="specification-list-block-white">
                                        <p>41444</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>