<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="header-bottom-l">
                        <h1>Giant<span>blockchain</span><span>& smart contracts</span></h1>
                        <div class="button-wrapper">
                            <a class="blu-button" href="/whitepaper.pdf" target="_blank">Giant WP</a>
                            <a class="blu-button" href="/GiantContractsWhitepaper.pdf" target="_blank">
                                Giant Contracts WP
                            </a>
                        </div>
                        <div class="link-pulsation-wrapper">
                            <div class="pulse"></div>
                            <div class="pulse2"></div>
                            <div class="pulse3"></div>
                            <div class="pulse4"></div>
                            <a href="#" onclick="lity('https://youtu.be/2gFc1e5qxRk'); return false;">
                                <img src="/images/Play.svg" alt="Video about Giant Coin">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="header-bottom-r">
                        <div class="tab-content" id="nav-tabContent3">
                            <div class="tab-pane fade show active"
                                 id="nav-home3"
                                 data-interval="100"
                                 role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <h3>What is Giant?</h3>
                                <p class="font20">
                                    Giant is the first blockchain environment that supports JavaScript-based smart
                                    contracts. This gives our blockchain greater flexibility and also makes it easier
                                    for the average developer to work with. In addition, Giant platform utilizes a
                                    masternode system to ensure the highest level of decentralization and security. In
                                    order to create a smart contract using Giant you must be a masternode owner, making
                                    masternodes an inseparable part our blockchain. The Giant blockchain counters
                                    scalability issues with burning fees and combines the best experience of other
                                    open-source projects, such as Ethereum and Dash.
                                </p>
                            </div>
                            <div class="tab-pane fade"
                                 id="nav-profile3"
                                 data-interval="100"
                                 role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <h3>What problems are solved by Giant?</h3>
                                <p class="font20">
                                    Currently, most contracts require trust between parties or a third-party arbitrator.
                                    Since third-party arbitrators can be biased, there is always a risk that the terms
                                    may not be fulfilled as they should be. Without full transparency, the contract
                                    results can also be changed. Giant offers a system where all terms are automatically
                                    executed after the fulfillment of the pre-written agreements. Any funds connected
                                    with the contract are protected, eliminating any issues of transparency and ensuring
                                    safety for all parties involved. Giant creates a friendly and productive atmosphere
                                    where everyone feels secure.
                                </p>
                            </div>
                            <div class="tab-pane fade"
                                 id="nav-contact3"
                                 data-interval="100"
                                 role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <h3>Where Giant can be used?</h3>
                                <p class="font20">
                                    Currently, there are many industries where one party does not respect the
                                    obligations of a contract. We are certain that Giant can be used to solve this
                                    problem in a variety of settings, allowing these sectors to function more
                                    efficiently. For instance, Giant can minimize or completely eliminate the numerous
                                    issues found in user-generated bets in the gambling industry. The pilot program
                                    based on the Giant blockchain is a binary options platform called Giant.Exchange
                                    where we will demonstrate the advantages of transparency, decentralized fiscal
                                    management via masternode voting, decentralized storage of funds, and independent
                                    data sources.
                                </p>
                            </div>
                        </div>
                        <nav>
                            <ul class="nav nav-tabs square-ul" id="nav-tab3" role="tablist">
                                <li>
                                    <a class="nav-item nav-link active"
                                       id="nav-home-tab3"
                                       data-toggle="tab"
                                       href="#nav-home3"
                                       role="tab"
                                       aria-controls="nav-home"
                                       aria-selected="true">What is Giant?</a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link"
                                       id="nav-profile-tab3"
                                       data-toggle="tab"
                                       href="#nav-profile3"
                                       role="tab"
                                       aria-controls="nav-profile"
                                       aria-selected="false">What problems are solved by Giant?</a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link"
                                       id="nav-contact-tab3"
                                       data-toggle="tab"
                                       href="#nav-contact3"
                                       role="tab"
                                       aria-controls="nav-contact"
                                       aria-selected="false">Where Giant can be used?</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>