<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="block">
    <section id="market" class="gic-market">
        <div class="container">
            <h2 class="line-blu">GIC Market</h2>
            <div class="graphic-top">
                <div class="row">
                    <div class="col-md-5 align-items-center d-flex justify-content-between flex-wrap">
                        <div class="graphic-top-block">
                            <p><span>Average price</span></p>
                            <p th:if="${changePrice.doubleValue() >= 0}"><img src="/images/arrow_green.svg"> <span th:text="${changePrice.toPlainString()}"></span>%</p>
                            <p th:if="${changePrice.doubleValue() < 0}"><img src="/images/arrow_red.svg"> <span th:text="${changePrice.toPlainString()}"></span>%</p>
                        </div>
                        <div class="graphic-top-block graphic-top-block2 flex-column align-items-end d-flex justify-content-end">
                            <p><em th:text="${btcRate.toPlainString()}"></em>&nbsp;<span>BTC</span></p>
                            <p><em th:text="${usdRate.toPlainString()}"></em>&nbsp;<span>USD</span></p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 align-items-center d-flex justify-content-between flex-wrap">
                        <div class="graphic-top-block">
                            <p><span>Volume 24h</span></p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="graphic-top-block graphic-top-block2 flex-column align-items-end d-flex justify-content-end">
                            <p><em th:text="${btcVolume.toPlainString()}"></em>&nbsp;<span>BTC</span></p>
                            <p><em th:text="${usdVolume.toPlainString()}"></em>&nbsp;<span>USD</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>