<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="block">
    <section class="projects-giant">
        <div class="container">
            <h2 class="line-blu">Giant Products</h2>
            <p class="font20">
                The Giant blockchain has been designed to solve the problems of trust between the contracts and bets
                participants and of the safety of obligations fulfillment. Giant allows users to create projects in
                various business industries that suffer from these problems. Let’s look at some of these projects.
            </p>
            <div class="projects-giant-wrapper">
                <div class="row">
                    <div class="col-md-6 col-lg-4 ">
                        <div class="projects-giant-block">
                            <div class="projects-giant-block-img projects-giant-block-img1"></div>
                            <div class="projects-giant-block-text">
                                <h3>Giant.Exchange</h3>
                                <p>
                                    Giant.Exchange — a decentralized binary options marketplace with
                                    trustworthy assets data controlled by an independent arbiter,
                                    with automatic terms execution and public Broker reputation.
                                </p>
                                <p class="link-giant-block">
                                    <a href="https://giant.exchange" target="_blank">
                                        <img src="/images/aircraft.png">Giant.Exchange
                                    </a>
                                </p>
                                <p class="link-giant-block">
                                    <img src="/images/cal.svg">Release date Q4 2018
                                </p>
                                <div class="button-wrapper">
                                    <a class="blu-button" href="/products">MORE</a>
                                    <a class="blu-button d-none" href="#">VIDEO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ">
                        <div class="projects-giant-block">
                            <div class="projects-giant-block-img projects-giant-block-img2"></div>
                            <div class="projects-giant-block-text">
                                <h3>Giant.Bet</h3>
                                <p class="main-text">
                                    Giant.Bet — a decentralized betting marketplace with guaranteed payments built on
                                    smart contracts and reliable sports events results sources.
                                </p>
                                <p class="link-giant-block">
                                    <a href="/products">
                                        <img src="/images/aircraft.png">Giant.Bet
                                    </a>
                                </p>
                                <p class="link-giant-block">
                                    <img src="/images/cal.svg">Release date Q3 2019
                                </p>
                                <div class="button-wrapper">
                                    <a class="blu-button" href="/products">MORE</a>
                                    <a class="blu-button d-none" href="#">VIDEO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="projects-giant-block">
                            <div class="projects-giant-block-img projects-giant-block-img3"></div>
                            <div class="projects-giant-block-text">
                                <h3>Giant.ColdStake</h3>
                                <p>
                                    Giant.ColdStake — a shared Proof-of-Stake pool providing passive income without the
                                    need for the wallet client to be permanently connected to the network; the rewards
                                    are equally distributed between all participants
                                </p>
                                <p class="link-giant-block">
                                    <a href="/products">
                                        <img src="/images/aircraft.png">Giant.ColdStake
                                    </a>
                                </p>
                                <p class="link-giant-block">
                                    <img src="/images/cal.svg">Release date Q3 2019
                                </p>
                                <div class="button-wrapper">
                                    <a class="blu-button" href="/products">MORE</a>
                                    <a class="blu-button d-none" href="#">VIDEO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>