<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="block">
    <section class="roadmap">
        <div class="container">
            <h2 class="line-blu">Roadmap</h2>
            <div class="am-arrow-wrapper">
                <div class="am-arrow am-prev3"><img src="/images/slide_arrow.svg"></div>
            </div>
            <div id="example5" class="slider-pro">
                <div class="sp-thumbnails">
                    <div class="sp-thumbnail" th:each="quarteredRoadMap : ${quarteredRoadMaps}">
                        <p th:text="${quarteredRoadMap.yearWithQuarter()}"></p>
                    </div>
                </div>
                <div class="sp-slides">
                    <div class="sp-slide" th:each="quarteredRoadMap : ${quarteredRoadMaps}">
                        <div class="roadmap-slider-block">
                            <h3 th:text="${quarteredRoadMap.yearWithQuarter()}"></h3>
                            <div class="list-square-wrapper">
                                <button class="scroll-top scroll-button"
                                        th:if="${quarteredRoadMap.roadMaps.size()>5}">
                                    <img src="/images/roadmap_arrow.svg">
                                </button>
                                <div class="list-square">
                                    <div class="list-square-block" th:each="roadMap : ${quarteredRoadMap.roadMaps}">
                                        <div class="list-square-l"></div>
                                        <div class="list-square-c"><p th:text="${roadMap.event}"></p></div>
                                        <div class="list-square-r"><p th:text="${roadMap.readyValue+' %'}"></p></div>
                                    </div>
                                </div>
                                <button class="scroll-button scroll-bottom"
                                        th:if="${quarteredRoadMap.roadMaps.size()>5}">
                                    <img src="/images/roadmap_arrow.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-arrow-wrapper">
                <div class="am-arrow am-next3"><img src="/images/slide_arrow.svg"></div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>