<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="block">
    <section class="strengths">
        <div class="container">
            <h2 class="line-blu">Strengths</h2>
            <p class="font20 text-center">
                In the Giant blockchain we have combined and upgraded the best practices previously developed
                by three separate blockchain teams. The idea of smart contracts comes from Ethereum, the masternode
                governance is borrowed from Dash, and the closest equivalent of our current Proof-of-Stake consensus
                model can be found in PIVX. By combining the best aspects of each of these technologies,
                Giant has the following advantages:
            </p>
            <div class="strengths-icon">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                        <a class="nav-item nav-link active"
                           id="nav-home-tab2"
                           data-toggle="tab"
                           href="#nav-home2"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/pos-mn.svg">
                                </div>
                                <p class="font20">PoS & MN</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link"
                           id="nav-profile-tab"
                           data-toggle="tab"
                           href="#nav-profile2"
                           role="tab"
                           aria-controls="nav-profile"
                           aria-selected="false">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/javascript.svg">
                                </div>
                                <p class="font20">JavaScript</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link"
                           id="nav-contact-tab"
                           data-toggle="tab"
                           href="#nav-contact2"
                           role="tab"
                           aria-controls="nav-contact"
                           aria-selected="false">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/code-update.svg">
                                </div>
                                <p class="font20">Code Update</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link"
                           id="nav-contact-tab2"
                           data-toggle="tab"
                           href="#nav-contact4"
                           role="tab"
                           aria-controls="nav-contact"
                           aria-selected="false">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/shredder.svg">
                                </div>
                                <p class="font20">Destruction</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link"
                           id="nav-contact-tab4"
                           data-toggle="tab"
                           href="#nav-contact5"
                           role="tab"
                           aria-controls="nav-contact"
                           aria-selected="false">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/burning.svg">
                                </div>
                                <p class="font20">Burning Fees</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link"
                           id="nav-contact-tab5"
                           data-toggle="tab"
                           href="#nav-contact6"
                           role="tab"
                           aria-controls="nav-contact"
                           aria-selected="false">
                            <div class="strengths-icon-block">
                                <div class="strengths-icon-block-img">
                                    <img src="/images/bank.svg">
                                </div>
                                <p class="font20">Self-Governance</p>
                            </div>
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">
                    <div class="tab-pane fade show active" id="nav-home2" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/pos-mn.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>PoS & MN</h3>
                                    <p class="font20">
                                        Proof-of-Stake (PoS) and masternodes (MN) – while the former decreases the GIC
                                        volatility by making its price independent from miners (and making GIC
                                        eco-friendly), the latter is a reliable governance technology. Masternodes form
                                        a decentralized board of investors with an incentive to support the structural
                                        changes. This increases the stability and security of the whole Giant blockchain
                                        network.
                                    </p>
                                    <a href="/pages/giant-proof-of-stake" target="_blank" class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/javascript.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>JavaScript</h3>
                                    <p class="font20">
                                        JavaScript — the most popular programming language is used in the Giant smart
                                        contracts. This seriously increases the number of potential Giant programmers
                                        around the world. It also makes the source code of smart contracts easy to
                                        comprehend for a wide group of cryptocurrency and information technology
                                        enthusiasts.
                                    </p>
                                    <a href="/pages/javascript-in-the-code-of-smart-contracts" target="_blank"
                                       class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/code-update.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>Code Update</h3>
                                    <p class="font20">
                                        Code Update – allows developers make important changes and/or additions in a
                                        smart contract that already exists instead of creating a hundred of iterations
                                        of the same code — in the long term this means that the system will not become
                                        overrun with obsolete deal data, resulting in better scalability.
                                    </p>
                                    <a href="/pages/the-giant-smart-contracts-code-update" target="_blank"
                                       class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact4" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/shredder.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>Destruction</h3>
                                    <p class="font20">
                                        Smart Contracts Destruction – old Giant smart contracts can be deleted, which
                                        prevents a situation where the Giant blockchain system is potentially filled
                                        with old data nobody needs anymore. The network scalability becomes even less of
                                        a problem if this function is combined with the previously mentioned Code Update
                                        feature.
                                    </p>
                                    <a href="/pages/scaling-the-giants-network-the-destruction-of-smart-contracts"
                                       target="_blank" class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact5" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/burning.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>Burning Fees</h3>
                                    <p class="font20">
                                        Burning Fees – to solve the inflationary problem connected to the non-stop
                                        network expansion due to the infinite Giant Coin supply, we have introduced the
                                        mechanism of burning fees for transactions and smart contract settlement: these
                                        commissions are made in Giant Coin (GIC) and burning them will lead to a stable
                                        demand for this cryptocurrency.
                                    </p>
                                    <a href="/pages/burning-fees-to-counter-cryptocurrency-inflation" target="_blank"
                                       class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact6" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="strengths-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="strengths-bottom-img" src="/images/bank.svg">
                                </div>
                                <div class="col-md-8">
                                    <h3>Self-Governance</h3>
                                    <p class="font20">
                                        Self-Governance – due to the high level of decentralization, the blockchain is
                                        able to outlive the original developers as there is no centralized fiscal
                                        authority issuing Giant Coin or controlling the smart contracts. Budget
                                        decisions are made first with the help of the regular users who hold a vote on
                                        Discord, then the voting system of masternodes.
                                    </p>
                                    <a href="/pages/governance-mechanism-of-giant" target="_blank" class="blu-button">Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>