<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="head">
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper">
            <img src="/images/logo_6.png" class="wp-logo" width="140"></img>
            <img src="/images/bg-wp-link-300.jpg" class="active wp-cover" width="300"/>
            <span>Giant<br>White Paper</span>
        </a>
    </div>
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper/contracts">
            <img src="/images/logo_6.png" class="wp-logo" width="140"></img>
            <img src="/images/bg-wp-link-300.jpg" class="active wp-cover" width="300"/>
            <span>Giant Contracts<br>White Paper</span>
        </a>
    </div>
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper/exchange" class="active">
            <img src="/images/logo_6.png" class="wp-logo" width="140"></img>
            <img src="/images/bg-wp-link-300.jpg" class="active wp-cover" width="300"/>
            <span>Giant.Exchange<br>White Paper</span>
        </a>
    </div>
</th:block>
</body>
</html>