<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Masternodes Guide</title>
    <meta name="description"
          content="Giant masternodes guide.">
    <th:block th:replace="blocks/header :: head"></th:block>
    <script src="js/tagManager.js"></script>
</head>
<body>
<noscript style="display:none;visibility:hidden">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
            height="0" width="0"></iframe>
</noscript>
<div th:replace="blocks/header :: header"></div>

<section class="page_header padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h1>Giant <span>Masternodes</span> guide</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Exchanges</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sm-padding">
                <h2 class="mb-3">GIANT MASTERNODE GUIDE</h2>
                <p>GUI wallet under Windows OS</p>
                <p>Single masternode on Linux VPS (Ubuntu 16.04 x64)</p>
            </div>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>

</body>
</html>
