<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="code">
    <script>
        $(function () {
            var $tabs;
            var $tabControls;

            var init = function init() {
                $tabs = $(".projects-content-block");
                $tabControls = $(".projects-tabs-tab");
                $tabs.length && $tabControls.length && _events();
            };

            var _showTab = function _showTab() {
                $(this).addClass("_active");
            };

            var _events = function _events() {
                $tabControls.on("click", function () {
                    var target = $(this).data("target");
                    $tabControls.removeClass("_active");
                    $(this).addClass("_active");
                    $target = $tabs.filter(target);
                    $target.siblings().fadeOut(200).promise().done(function () {
                        $(this).removeClass("_active");
                        $target.fadeIn(200, _showTab);
                    });
                });
            };

            init();
        });
    </script>
</th:block>
</body>
</html>