<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Whitepapers</title>
    <meta name="description" content="Giant Whitepaper">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>
<div th:replace="blocks/header :: header"></div>

<section class="page_header padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h1 th:text="${title}"></h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li th:text="${title}" class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sm-padding">
                <div th:if="${ready}" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center">
                    <div id="whitepaper"></div>
                    <p class="mt-3">
                        <a th:href="${whitepaperUrl}" target="_blank">
                            <strong>https://giantpay.network<span th:text="${whitepaperUrl}"></span></strong>
                        </a>
                    </p>
                </div>

                <div th:if="${not ready}" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center">
                    <p><strong th:text="text" class="text-muted"></strong></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    (function ($) {
        $(window).on('load', function () {
            PDFObject.embed(/*[[${whitepaperUrl}]]*/ '/whitepaper.pdf', "#whitepaper");
        });
    })(jQuery);
    /*]]>*/
</script>
<style>
    .pdfobject-container {
        height: 670px;
    }

    .pdfobject {
        border: 1px solid #666;
    }
</style>
</body>
</html>