<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant news</title>
    <meta name="description"
          content="All the news of the project in one place. We reveal all the nuances and features.">

    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" href="css/fixes.css"/>

</head>
<body class="news-page">

<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<section class="internal-section">
    <div class="container">
        <h1 class="line-blu line-blu-internal">News</h1>
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <div class="download-pdf">
                    <a class="blue-bordered-button"
                       href="/pages">ALL Materials</a>
                </div>
                <div class="news-nav">
                    <nav class="navbar navbar-light">
                        <nav class="nav nav-pills flex-column">
                            <a th:each="category : ${categories}"
                               th:href="${'/pages?c=' + category}"
                               th:text="${category.toUpperCase()}"
                               th:classappend="${currentCategory != null && category.toUpperCase() == currentCategory.toUpperCase()} ? 'active' : ''"
                               class="nav-link"></a>
                        </nav>
                    </nav>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 news-list">
                <div class="row">
                    <div th:each="page : ${pages}" class="col-sm-12 col-md-6 col-lg-4">
                        <div class="information-slide">
                            <div class="information-slide-top">
                                <a th:href="${'/pages' + page.url}" target="_blank">
                                    <img class="cover" th:src="${page.coverUrl}">
                                </a>
                            </div>
                            <div class="information-slide-bottom">
                                <h3 th:text="${page.title}"></h3>
                                <p th:text="${page.announcement}"></p>
                                <div class="information-slide-bottom-date">
                                    <p class="date">
                                        <img src="/images/cal.svg">
                                        <span th:text="${#dates.format(page.createdAt, 'dd-MM-yyyy')}"></span>
                                    </p>
                                    <a th:href="${'/pages' + page.url}" target="_blank" class="read-more">
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script src="js/jquery.spincrement.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<th:block th:replace="blocks/footer :: footer"></th:block>
</body>
</html>