<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title th:text="${page.seoTitle}"></title>
    <meta name="description" data-th-attr="content=${page.seoDescription}">
    <meta name="keywords" data-th-attr="content=${page.seoKeywords}">
    <meta property="og:title" data-th-attr="content=${page.title}"/>
    <meta property="og:description" data-th-attr="content=${page.seoDescription}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" data-th-attr="content=${'https://giantpay.network/pages' + page.url}"/>
    <link rel="canonical" th:href="${'https://giantpay.network/pages' + page.url}"/>
    <th:block th:replace="blocks/header :: head"></th:block>
    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5b45320a3cd9e600119c7a00&product=inline-share-buttons"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
</head>
<body class="news-page">
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<section class="internal-section">
    <div class="container">
        <h1 class="line-blu line-blu-internal" th:text="${page.title}">Information</h1>
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <div class="download-pdf">
                    <a class="blue-bordered-button"
                       href="/pages">ALL Materials</a>
                </div>
                <div class="news-nav">
                    <nav class="navbar navbar-light">
                        <nav class="nav nav-pills flex-column">
                            <a th:each="category : ${categories}"
                               th:href="${'/pages?c=' + category}"
                               th:text="${category.toUpperCase()}"
                               class="nav-link"></a>
                        </nav>
                    </nav>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 news-body">
                <p class="date">
                    <img src="/images/cal.svg">
                    <span th:text="${#dates.format(page.createdAt, 'dd-MM-yyyy')}"></span>
                </p>
                <div class="mb-4 mt-1">
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
                <th:block th:remove="tag" th:utext="${page.html}"></th:block>
                <div class="mb-4 mt-1">
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
                <div>
                    <div id="disqus_thread"></div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var disqus_config = function () {
                            this.page.url = "http://giantpay.network/pages" + /*[[${page.url}]]*/;
                            this.page.identifier = /*[[${page.url}]]*/ '/';
                        };

                        (function () {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://giantpay-network.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="blocks/footer :: footer"></th:block>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/vendor/jquery.ui.widget.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.iframe-transport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.fileupload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script src="js/jquery.spincrement.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

</body>
</html>