<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Error page</title>
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>
<section class="page_header not_found padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h2>404 <span>Nothing Found</span></h2>
                    <h4>The Page You Looking For Is Not Found!</h4>
                    <a href="/" class="button_1">Back To Home</a>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">404 Not Found</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="blocks/footer :: footer"></th:block>
</body>
</html>