<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Exchanges</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">
    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/additions.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.css}"/>

</head>
<body>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header content-block__header-exchanges">Exchanges</h1>
        </div>

        <div class="exchanges">
            <div class="exchanges__title">
                Listed
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/cryptobridge.png}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Crypto-bridge
                    </div>
                </div>
                <div class="exchanges__item_price">
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Price
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(cryptobridge.last,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Volume 24
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(cryptobridge.volumeBtc,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://wallet.crypto-bridge.org/market/BRIDGE.GIC_BRIDGE.BTC" class="blu-button" target="blank">buy/sell</a>
                </div>
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/graviex.jpg}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Graviex
                    </div>
                </div>
                <div class="exchanges__item_price">
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Price
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(graviex.last,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Volume 24
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(graviex.volumeBtc,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://graviex.net/markets/gicbtc" class="blu-button" target="blank">buy/sell</a>
                </div>
            </div>

            <div class="exchanges__title">
                Voting
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/southxchange.png}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Southxchange
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://www.southxchange.com/Home/Vote" class="blu-button" target="blank">vote</a>
                </div>
            </div>
            <div class="exchanges__title">
                Soon
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/cryptopia.png}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Cryptopia
                    </div>
                </div>
                <div class="exchanges__item_button">
                    <a href="https://www.cryptopia.co.nz" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/hitbtc.svg}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        HitBTC
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://hitbtc.com/" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>

            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img th:src="@{/images/exmo.svg}" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        EXMO
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://exmo.com/" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>


<th:block th:replace="blocks/header :: header_scripts"></th:block>

</body>
</html>