<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Exchanges</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">
    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" href="css/additions.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/>

</head>
<body>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header content-block__header-exchanges">Exchanges</h1>
        </div>

        <div class="exchanges">
            <div class="exchanges__title">
                Listed
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/cryptobridge.png" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Crypto-bridge
                    </div>
                </div>
                <div class="exchanges__item_price">
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Price
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(cryptobridge.last,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Volume 24
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(cryptobridge.volumeBtc,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://graviex.net/markets/gicbtc" class="blu-button" target="blank">buy/sell</a>
                </div>
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/graviex.jpg" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Graviex
                    </div>
                </div>
                <div class="exchanges__item_price">
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Price
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(graviex.last,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                    <div class="exchanges__item_price-row clear">
                        <div class="exchanges__item_price-name">
                            Volume 24
                        </div>
                        <div class="exchanges__item_price-value">
                            <p th:text="${#numbers.formatDecimal(graviex.volumeBtc,1,'COMMA',8,'POINT')}"></p>
                            <span>BTC</span>
                        </div>
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://www.southxchange.com/Home/Vote" class="blu-button" target="blank">buy/sell</a>
                </div>
            </div>

            <div class="exchanges__title">
                Voting
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/southxchange.png" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Southxchange
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://www.southxchange.com/Home/Vote" class="blu-button" target="blank">vote</a>
                </div>
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/coinex.svg" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Coinex
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://www.coinex.com/vote/project?id=2007" class="blu-button" target="blank">vote</a>
                </div>
            </div>

            <div class="exchanges__title">
                Soon
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/cryptopia.png" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        Cryptopia
                    </div>
                </div>
                <div class="exchanges__item_button">
                    <a href="https://www.cryptopia.co.nz" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>
            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/hitbtc.svg" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        HitBTC
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://hitbtc.com/" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>

            <div class="exchanges__item clear">
                <div class="exchanges__item_logo">
                    <img src="images/exmo.svg" alt="Logo">
                </div>
                <div class="exchanges__item_name">
                    <div>
                        EXMO
                    </div>
                </div>

                <div class="exchanges__item_button">
                    <a href="https://exmo.com/" class="blu-button" target="blank">q2 2019</a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>


<th:block th:replace="blocks/header :: header_scripts"></th:block>

<script>
    $(document).ready(function () {
        $('.owl-carousel2, .owl-carousel5, .owl-carousel6').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });
    $(document).ready(function () {
        $('.owl-carousel3').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });

    $(document).ready(function () {
        $('.owl-carousel4').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1550: {
                    items: 3
                }
            }
        })
    });
    $('.am-prev').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next').on('click', function () {
        $('.owl-next').trigger('click');
    });

    $('.am-prev2').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next2').on('click', function () {
        $('.owl-next').trigger('click');
    });

</script>

<script src="js/scrollBar.js"></script>

<script>
    $(".custom-scroll").scrollBox();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="js/morris.js"></script>


<script src="js/jquery.sliderPro.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#example5').sliderPro({
            orientation: 'vertical',
            loop: true,
            width: 900,
            arrows: true,
            buttons: false,
            thumbnailsPosition: 'left',
            thumbnailHeight: 100,
            thumbnailPointer: true,
            thumbnailWidth: 280,
            autoplay: false,
            startSlide: 3,
            breakpoints: {
                1199: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    thumbnailWidth: 280,
                    thumbnailHeight: 100
                },
                991: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                767: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },

                480: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 600,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                360: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 700,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                }
            }
        });
    });

    $('.am-prev3').on('click', function () {
        $('.sp-previous-arrow').trigger('click');
    });

    $('.am-next3').on('click', function () {
        $('.sp-next-arrow').trigger('click');
    });

</script>


<script type="text/javascript">
    $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) {
        e.stopPropagation()
    });
    $('.dropdown-graphic input:checkbox').click(function () {
        $('.count-span').html($('.dropdown-graphic input:checkbox:checked').length);
    });
</script>

<script>
    $(document).ready(function () {
        $(".scroll-top").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '-=123'}, 500);
        });

        $(".scroll-bottom").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '+=123'}, 500);
        });
    });
</script>

</body>
</html>