<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Cryptocurrency | GiantPay | Network | POS | MASTERNODES</title>
    <meta name="description"
          content="Giant is a cutting-edge blockchain environment with fast smart contracts, a marketplace where every user can find an interesting role and be sure there are no unfair parties. The efficiency of the blockchain technologies has been positively characterized even by the most conservative financial organizations">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body class="index-page">
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
    <th:block th:replace="blocks/index/header :: header"></th:block>
</header>

<th:block th:replace="blocks/index/strengths :: block"></th:block>
<th:block th:replace="blocks/index/network :: block"></th:block>
<th:block th:replace="blocks/index/products :: block"></th:block>
<th:block th:replace="blocks/index/asset :: block"></th:block>
<th:block th:replace="blocks/index/market :: block"></th:block>
<th:block th:replace="blocks/index/exchanges :: block"></th:block>
<th:block th:replace="blocks/index/hold :: block"></th:block>
<th:block th:replace="blocks/index/calculator :: block"></th:block>
<th:block th:replace="blocks/index/roadmap :: block"></th:block>
<th:block th:replace="blocks/index/workflow :: block"></th:block>
<th:block th:replace="blocks/index/news :: block"></th:block>

<th:block th:replace="blocks/footer :: footer"></th:block>
<th:block th:replace="javascript/index/header :: code"></th:block>
<th:block th:replace="javascript/index/network :: code"></th:block>
<th:block th:replace="javascript/index/market :: code"></th:block>
<th:block th:replace="javascript/index/hold :: code"></th:block>
<th:block th:replace="javascript/index/calculator :: code"></th:block>
<th:block th:replace="javascript/index/workflow :: code"></th:block>
</body>
</html>