<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Giant Coin Cryptocurrency | GiantPay | Network | POS | MASTERNODES</title>
    <meta name="description"
          content="Giant is a cutting-edge blockchain environment with fast smart contracts, a marketplace where every user can find an interesting role and be sure there are no unfair parties. The efficiency of the blockchain technologies has been positively characterized even by the most conservative financial organizations">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.4.0/css/slider-pro.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="css/fixes.css"/>
    <link rel="stylesheet" href="css/additions.css"/>

    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
    <script src="js/jquery.spincrement.min.js"></script>
    <script src="js/owl.carousel.js"></script>

    <script src="js/tagManager.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-11023961-18');
    </script>

</head>
<body class="index-page">
<noscript style="display:none;visibility:hidden">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
            height="0" width="0"></iframe>
</noscript>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
    <th:block th:replace="blocks/index/header :: header"></th:block>
</header>


<th:block th:replace="blocks/index/strengths :: block"></th:block>
<th:block th:replace="blocks/index/network :: block"></th:block>

<th:block th:replace="blocks/index/products :: block"></th:block>

<th:block th:replace="blocks/index/asset :: block"></th:block>
<th:block th:replace="blocks/index/market :: block"></th:block>
<th:block th:replace="blocks/index/exchanges :: block"></th:block>
<th:block th:replace="blocks/index/hold :: block"></th:block>
<th:block th:replace="blocks/index/calculator :: block"></th:block>
<th:block th:replace="blocks/index/roadmap :: block"></th:block>
<th:block th:replace="javascript/index/calculator :: code"></th:block>


<th:block th:replace="blocks/index/workflow :: block"></th:block>
<th:block th:replace="blocks/index/news :: block"></th:block>


<th:block th:replace="blocks/footer :: footer"></th:block>


<div class="buttons">
    <a class="buttons__up"><i class="fas fa-chevron-up"></i></a>
    <div class="link-pulsation-wrapper">
        <a href="https://discordapp.com/invite/7NRqsAN" target="_blank" class="buttons__discord"><i
                class="fab fa-discord"></i></a>
        <div class="pulse"></div>
        <div class="pulse2"></div>
        <div class="pulse3"></div>
        <div class="pulse4"></div>
    </div>
</div>

<div class="modal-discord">
    <div class="modal-discord__close"><i class="fas fa-times"></i></div>
    <div class="modal-discord__title">
        Join our Discord server!
    </div>
    <div class="modal-discord__signature">
        Communicate with the team 24/7
        <br>
        and be the first to get the news!
    </div>
    <div class="link-pulsation-wrapper">
        <form action="https://discordapp.com/invite/7NRqsAN" target="_blank">
            <button class="modal-discord__button blu-button">
                Join us
            </button>
        </form>
        <div class="pulse"></div>
        <div class="pulse2"></div>
        <div class="pulse3"></div>
        <div class="pulse4"></div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.modal-discord__close').click(function () {
            $('.modal-discord').fadeOut(200);
        });

        $('.buttons__up').click(function () {
            $('body,html').animate({scrollTop: 0}, 300);
        });

        setTimeout(modal, 60000);

        function modal() {
            $('.modal-discord').fadeIn(200);
        }
    })
</script>
<script>
    $(document).ready(function () {
        console.log("HERE");
        $(".sp-slide").each(function (index, slide) {
            var roadMapsAmount = slide.getElementsByClassName("list-square")[0].getElementsByClassName("list-square-block").length;
            if ((roadMapsAmount <= 7 && isDesctop() || (roadMapsAmount <= 3 && !isDesctop()))) {
                console.log("HERE");
                slide.getElementsByClassName("scroll-top scroll-button")[0].style.visibility = 'hidden'
                slide.getElementsByClassName("scroll-button scroll-bottom")[0].style.visibility = 'hidden'
            }
            var slides = slide.getElementsByClassName("list-square")[0].getElementsByClassName("list-square-block");
            var textLength = 0;
            for (var i = 0; i < slides.length; i++) {
                textLength += slides[i].getElementsByClassName("list-square-c")[0].textContent.split("\n").length;
            }
            console.log("Length: " + textLength);
        });
    });

    function isDesctop() {
        return $(window).width() > 780;
    }
</script>
<script>
    $(document).ready(function () {
        $('.owl-carousel2, .owl-carousel5, .owl-carousel6').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });
    $(document).ready(function () {
        $('.owl-carousel3').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });

    $(document).ready(function () {
        $('.owl-carousel4').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1550: {
                    items: 3
                }
            }
        })
    });
    $('.am-prev').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next').on('click', function () {
        $('.owl-next').trigger('click');
    });

    $('.am-prev2').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next2').on('click', function () {
        $('.owl-next').trigger('click');
    });

</script>

<script src="js/scrollBar.js"></script>

<script>
    $(".custom-scroll").scrollBox();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="js/morris.js"></script>


<script src="js/jquery.sliderPro.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#example5').sliderPro({
            orientation: 'vertical',
            loop: true,
            width: 900,
            arrows: true,
            buttons: false,
            thumbnailsPosition: 'left',
            thumbnailHeight: 100,
            thumbnailPointer: true,
            thumbnailWidth: 280,
            autoplay: false,
            startSlide: 3,
            breakpoints: {
                1199: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    thumbnailWidth: 280,
                    thumbnailHeight: 100
                },
                991: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                767: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },

                480: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 600,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                360: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 700,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                }
            }
        });
    });

    $('.am-prev3').on('click', function () {
        $('.sp-previous-arrow').trigger('click');
    });

    $('.am-next3').on('click', function () {
        $('.sp-next-arrow').trigger('click');
    });

</script>


<script type="text/javascript">
    $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) {
        e.stopPropagation()
    });
    $('.dropdown-graphic input:checkbox').click(function () {
        $('.count-span').html($('.dropdown-graphic input:checkbox:checked').length);
    });
</script>

<script>
    $(document).ready(function () {
        $(".scroll-top").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '-=123'}, 500);
        });

        $(".scroll-bottom").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '+=123'}, 500);
        });
    });
</script>


<script>
    $(function () {

        $('.dropdown-menu-custom a').on('click', function () {
            $('.dropdown-toggle-custom').html($(this).html() + '<span class="caret"></span>');
        })

    });
</script>

<script>
    $(function () {
        var show = true;
        var countbox = ".benefits__inner";
        $(window).on("scroll load resize", function () {
            if (!show) return false; // Отменяем показ анимации, если она уже была выполнена
            var w_top = $(window).scrollTop(); // Количество пикселей на которое была прокручена страница
            var e_top = $(countbox).offset().top; // Расстояние от блока со счетчиками до верха всего документа
            var w_height = $(window).height(); // Высота окна браузера
            var d_height = $(document).height(); // Высота всего документа
            var e_height = $(countbox).outerHeight(); // Полная высота блока со счетчиками
            if (w_top + 500 >= e_top || w_height + w_top == d_height || e_height + e_top < w_height) {
                $('.benefits__number').spincrement({
                    from: 0,
                    thousandSeparator: "<span class='number-w'></span>",
                    duration: 4000
                });
                $('.benefits__number2').spincrement({
                    from: 0,
                    thousandSeparator: ",",
                    duration: 4000
                });
                show = false;
            }
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    /*<![CDATA[*/
    function isVisible(tag) {
        var t = $(tag);
        var w = $(window);
        var wt = w.scrollTop();
        var tt = t.offset().top;
        var tb = tt + t.height();
        return ((tb <= wt + w.height()) && (tt >= wt));
    }

    $(function () {
        $(window).scroll(function () {
            var b = $("#chart-area");
            if (!b.prop("shown") && isVisible(b)) {
                b.prop("shown", true);
                $(function () {
                    var ctx = $('#chart-area')[0].getContext("2d");
                    var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
                    gradientStroke.addColorStop(0, "#0b4a8e");
                    gradientStroke.addColorStop(1, "#127aea");

                    new Chart(ctx, {
                        type: 'doughnut',
                        width: 350,
                        height: 350,
                        data: {
                            datasets: [{
                                data: [
                                    100 - parseFloat("80.8"),
                                    parseFloat("80.8")
                                ],
                                backgroundColor: [
                                    "#dcdcdc",
                                    gradientStroke
                                ],
                                borderColor: [
                                    "#dcdcdc",
                                    gradientStroke
                                ],
                                borderWidth: [
                                    10,
                                    10
                                ],
                                hoverBackgroundColor: [
                                    "#dcdcdc",
                                    gradientStroke
                                ],
                                hoverBorderColor: [
                                    "#dcdcdc",
                                    gradientStroke
                                ],
                                hoverBorderWidth: [
                                    10,
                                    10
                                ]
                            }]
                        },
                        options: {
                            cutoutPercentage: 96,
                            rotation: 0,
                            tooltips: {
                                enabled: false
                            },
                            responsive: false,
                            legend: {
                                display: false
                            },
                            title: {
                                display: false,
                            },
                            animation: {
                                easing: 'easeInOutCubic',
                                animateScale: false,
                                animateRotate: true
                            }
                        }
                    });
                });
            }
        });
    });


    /*]]>*/
</script>


<th:block th:replace="javascript/index/workflow :: code"></th:block>


</body>
</html>