<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin</title>
    <meta name="description"
          content="GIANTCOIN (GIC) — a cryptocurrency designed to work with the GIANT exchange. Option placing fees and rewarding are available only in GIC. Anyone can buy GIC on an exchange or mine it. Also you can earn passive income by running a masternode.">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>

<div th:replace="blocks/header :: header"></div>

<section class="slider-section">
    <div class="slider-wrapper">
        <div id="main-slider" class="nivoSlider">
            <img src="/images/slider-1.jpg" alt="" title="#slider-caption-1"/>
            <img src="/images/slider-2.jpg" alt="" title="#slider-caption-2"/>
            <img src="/images/slider-3.jpg" alt="" title="#slider-caption-3"/>
        </div><!-- /#main-slider -->

        <div id="slider-caption-1" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h2 class="wow fadeInLeft2" data-wow-delay="1s">
                                <span>GIANT COIN</span><br><span>POW+POS+MN</span>
                            </h2>
                            <p class="wow fadeInRight2" data-wow-delay="1s" style="width: 50%">GIANTCOIN (GIC) is a cryptocurrency designed
                                to work with the GIANT exchange. Placing of an option and getting a reward are available
                                only in GIC. You can buy GIC on an exchange, mine it and earn passive income by running
                                a masternode.</p>
                            <a href="/presale" class="button_1 wow bounceInUp" data-wow-delay="0.8s">Presale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /#slider-caption-1 -->
        <div id="slider-caption-2" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h2 class="wow bounceInDown" data-wow-delay="1s"><span>DECENTRALIZED BINARY</span><br><span>OPTIONS EXCHANGE</span>
                            </h2>
                            <p class="wow fadeInRight2" data-wow-delay="1s" style="width: 50%">GIANT is a decentralized options exchange
                                that is built on blockchain technology, which allows you making money by predicting
                                exchange rate of the top cryptocurrencies, such as BTC, ETH, XRP, LTC.</p>
                            <a href="/presale" class="button_1 wow bounceInLeft" data-wow-delay="0.8s">Presale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /#slider-caption-2 -->
        <div id="slider-caption-3" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h2 class="wow bounceInUp" data-wow-delay="1s"><span>MASTERNODE GIANT</span><br><span>80% of Block Reward</span>
                            </h2>
                            <p class="wow fadeInRight2" data-wow-delay="1s" style="width: 50%"><strong>MASTERNODES</strong> secure the blockchain and provide different services for the network
                                like instant transactions, privacy and for this, each masternode receive a financial compensation,
                                so called rewards. To create a masternode an investor need to block <strong>1000 GIC</strong> as
                                collateral deposit that can be considered as an investment since he will be rewarded in
                                <strong>GIC</strong> coins for this.</p>
                            <a href="/presale" class="button_1 wow bounceInUp" data-wow-delay="0.8s">Presale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /#slider-caption-3 -->
    </div>
</section>

<section class="service_section bg-grey padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>MORE THAN JUST A <span>BINARY OPTIONS EXCHANGE</span></h2>
        </div><!-- /Section Heading -->
        <div class="row service_lists">
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-1.png" alt="services">
                    <p>Security, reliability and speed of the exchange operations are supported by sustainability of
                        blockchain network.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-2.png" alt="services">
                    <p>Technical support and a large toolset for trading.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-3.png" alt="services">
                    <p>Constant expansion of available cryptocurrencies for placing various types of options.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-4.png" alt="services">
                    <p>Ranking system of additional rewards and bonuses.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-5.png" alt="services">
                    <p>Detailed statistics for analytics and improving of your trading strategy.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_content">
                    <img src="/images/icon-6.png" alt="services">
                    <p>Zero additional fees for input/output of GIC.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="counter" class="counter_section">
    <div class="container">
        <ul class="row counters">
            <li class="col-md-3 col-sm-6 sm-padding">
                <div class="counter_content">
                    <i class="fas fa-cubes"></i>
                    <h3 class="counter" th:text="${currentHeight}"></h3>
                    <h4>CURRENT BLOCK HEIGHT</h4>
                </div>
            </li>
            <li class="col-md-3 col-sm-6 sm-padding">
                <div class="counter_content">
                    <i class="fas fa-wrench"></i>
                    <h3 class="counter" th:text="${currentHashrate}"></h3>
                    <h4>CURRENT HASHRATE, H/s</h4>
                </div>
            </li>
            <li class="col-md-3 col-sm-6 sm-padding">
                <div class="counter_content">
                    <i class="fas fa-chart-line"></i>
                    <h3 class="counter" th:text="${currentDifficulty}"></h3>
                    <h4>CURRENT DIFFICULTY</h4>
                </div>
            </li>
            <li class="col-md-3 col-sm-6 sm-padding">
                <div class="counter_content">
                    <i class="fab fa-bitcoin"></i>
                    <h3 class="counter" th:text="${coinSupply}"></h3>
                    <h4>COIN SUPPLY, GIC</h4>
                </div>
            </li>
        </ul>
    </div>
</div>

<section class="currency_section bg-grey padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Cryptocurrency <span>Prices</span></h2>
            <p>List of coins which are to be added to GIANT as available for placing of options.</p>
        </div><!-- /Section Heading -->
        <div class="row prices_head">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>Coin</th>
                    <th>Price</th>
                    <th>24h % Change</th>
                    <th>24h Volume</th>
                    <th>Supply</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/images/btc.png" class="currency_logo" alt="">Bitcoin</td>
                    <td><span th:text="${#numbers.formatDecimal(btc.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="up">
                        <i class="fas mr-2"
                           th:classappend="${btc.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(btc.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(btc.volume,1,'COMMA',2,'POINT')}"></span> BTC</td>
                    <td><span th:text="${#numbers.formatDecimal(btc.supply,1,'COMMA',2,'POINT')}"></span> BTC</td>
                </tr>
                <tr>
                    <td><img src="/images/eth.png" class="currency_logo" alt="">Ethereum</td>
                    <td><span th:text="${#numbers.formatDecimal(eth.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="up">
                        <i class="fas mr-2"
                           th:classappend="${eth.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(eth.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(eth.volume,1,'COMMA',2,'POINT')}"></span> ETH</td>
                    <td><span th:text="${#numbers.formatDecimal(eth.supply,1,'COMMA',2,'POINT')}"></span> ETH</td>
                </tr>
                <tr>
                    <td><img src="/images/xrp.png" class="currency_logo" alt="">Ripple</td>
                    <td><span th:text="${#numbers.formatDecimal(xrp.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="down">
                        <i class="fas mr-2"
                           th:classappend="${xrp.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(xrp.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(xrp.volume,1,'COMMA',2,'POINT')}"></span> XRP</td>
                    <td><span th:text="${#numbers.formatDecimal(xrp.supply,1,'COMMA',2,'POINT')}"></span> XRP</td>
                </tr>
                <tr>
                    <td><img src="/images/ltc.png" class="currency_logo" alt="">Litecoin</td>
                    <td><span th:text="${#numbers.formatDecimal(ltc.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="up">
                        <i class="fas mr-2"
                           th:classappend="${ltc.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(ltc.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(ltc.volume,1,'COMMA',2,'POINT')}"></span> LTC</td>
                    <td><span th:text="${#numbers.formatDecimal(ltc.supply,1,'COMMA',2,'POINT')}"></span> LTC</td>
                </tr>
                <tr>
                    <td><img src="/images/dash.png" class="currency_logo" alt="">DigitalCash</td>
                    <td><span th:text="${#numbers.formatDecimal(dash.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="down">
                        <i class="fas mr-2"
                           th:classappend="${dash.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(dash.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(dash.volume,1,'COMMA',2,'POINT')}"></span> DASH</td>
                    <td><span th:text="${#numbers.formatDecimal(dash.supply,1,'COMMA',2,'POINT')}"></span> DASH</td>
                </tr>
                <tr>
                    <td><img src="/images/bch.png" class="currency_logo" alt="">Bitcoin Cash</td>
                    <td><span th:text="${#numbers.formatDecimal(bch.price,1,'COMMA',2,'POINT')}"></span> $</td>
                    <td class="down">
                        <i class="fas mr-2"
                           th:classappend="${bch.change >= 0} ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>&nbsp;
                        <span th:text="${#numbers.formatDecimal(bch.change,1,'COMMA',2,'POINT')}"></span>%
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(bch.volume,1,'COMMA',2,'POINT')}"></span> BCH</td>
                    <td><span th:text="${#numbers.formatDecimal(bch.supply,1,'COMMA',2,'POINT')}"></span> BCH</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>
</body>
</html>