<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head lang="en">
    <meta charset="utf-8">
    <title>Masternodes</title>

    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" href="css/additions.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/>

</head>
<body class="body-internal">
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>


<section class="internal-section">
    <div class="container">

        <h2 class="line-blu line-blu-internal">Investments in Masternodes</h2>

        <h3 class="margin-0-767">What is Masternodes?</h3>

        <div class="proof__block_text">
            <p>
                Masternodes (bonded validator systems) are central hubs that maintain the network in exchange
                <br>
                for a reward. Each masternode plays a part in the process of block validation and ensuring
                <br>
                network stability. Thanks to masternodes, PrivateSend is possible for all Giant Coin holders —
                <br>
                this optional feature allows users to make their financial operations more confidential.
                <br>
            </p>
            <p>
                One of the main achievements of the Giant team has been making masternodes an important
                <br>
                element of the smart contracts ecosystem and self-governance mechanism.
                <br>
                In Giant, masternode technology is a way for investors to have a direct influence on the project’s
                <br>
                development. It also gives them the ability to deploy smart contracts in the mainnet and earn a
                <br>
                source of passive income.
                <br>
            </p>
            <p>
                In essence, this makes masternode owners essentially shareholders who have a vested interest
                <br>
                in ensuring the network’s stability, as well as motivating them to participate in budget allocation
                <br>
                decisions of Giant-based products and the Giant proposals fund.
            </p>
        </div>
        <h3 class="h3-margin">Reward Distribution</h3>


        <div class="proof__block_text">
            <p>
                The reward mechanism is fully transparent and, like in PoS, is calculated by an explicit provision
                <br>
                in the form of mathematical formula. This formula, however, is different than the one used in the
                <br>
                PoS rewards distribution.
            </p>
            <p>
                The quantity of blocks in 24 hours is divided by the number of masternodes in the network and
                <br>
                then multiplied by 100%.
            </p>
            <p>
                Let’s review this formula using the Giant blockchain as a reference. The block time of Giant is
                <br>
                120 seconds, which means the average block quantity per day is 720. With 900 active
                <br>
                masternodes in the network, your chances to receive a reward are 80% (720/900*100%=80%).
                <br>
                Obviously, chances grow even higher if you have several masternodes in your possession. They
                <br>
                can be efficiently managed on a single Ubuntu server if you have an IPv6 connection. Each
                <br>
                masternode costs 1000 GIC, and the subsequent rewards for network maintenance can equal
                <br>
                1000 or more GIC in just a few months.
            </p>
            <p>
                Masternodes are the cornerstones of the Giant economy — their permanent long-term growth will
                <br>
                lay a solid foundation for the stability of the Giant blockchain. More maintenance hubs means
                <br>
                faster transactions for all the decentralized apps that will be built on Giant in the future.
            </p>

        </div>


        <div class="block-blu">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="white-color white-color-bold">Blocks 24h</h3>

                    <h3 class="white-color white-color-bold">Active masternodes</h3>

                    <h3 class="white-color white-color-bold">Block reward for MN</h3>

                </div>
                <div class="col-lg-4">
                    <div class="block-input-custom calculator-block-r calculator-block-r-input">
                        <p class="gray-p">720</p>
                    </div>

                    <div class="block-input-custom calculator-block-r calculator-block-r-input">
                        <p class="gray-p" id="masternodeCount" th:utext="${masternodes}"></p>
                    </div>
                    <div class="block-input-custom calculator-block-r calculator-block-r-input">

                        <p class="gray-p">16</p>
                        <span>GIC</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wrapperblock-blu">

                        <h3 class="white-color white-color-bold center-align-h3">AVG masternode
                            reward frequency</h3>

                        <p class="large-p" id="rewardFrequency"></p>

                    </div>

                </div>
            </div>
        </div>

        <h3 class="h3-margin">Required coins for masternode</h3>

        <div class="block-blu">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="white-color white-color-bold">GIC Price</h3>

                    <h3 class="white-color white-color-bold">Masternode Price</h3>

                </div>
                <div class="col-lg-4">
                    <div class="row row-custom">
                        <div class="col-lg-6">

                            <div class="block-input-custom calculator-block-r calculator-block-r-input">

                                <p class="gray-p" id="oneBtcInGic"></p>
                                <span>BTC</span>
                            </div>
                            <div class="block-input-custom calculator-block-r calculator-block-r-input">

                                <p class="gray-p" id="oneBtcInMasterNode"></p>
                                <span>BTC</span>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="block-input-custom calculator-block-r calculator-block-r-input">

                                <p class="gray-p" id="oneUsdInGic"></p>
                                <span>USD</span>
                            </div>

                            <div class="block-input-custom calculator-block-r calculator-block-r-input">

                                <p class="gray-p" id="oneUsdInMasterNode"></p>
                                <span>USD</span>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="col-lg-4">
                    <p class="large-p">MN = 1000
                    </p>

                    <p class="medium-p">GIC</p>

                </div>
            </div>
        </div>
        <h3 class="h3-margin">Your investment</h3>

        <div class="block-blu">
            <div class="row">
                <div class="col-md-4">
                    <div class="block-input-custom calculator-block-r calculator-block-r-input">
                        <input id="btcAmountGIC"
                               type="number"
                               min="0.00000001"
                               max="10000000"
                               step="0.00000001"
                               placeholder="Your Invest in GIC">
                        <span>
                           GIC
                       </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-input-custom calculator-block-r calculator-block-r-input">
                        <input id="btcAmountBTC"
                               type="number"
                               min="0.00000001"
                               max="10000000"
                               step="0.00000001"
                               placeholder="Your Invest in BTC">
                        <span>
                           BTC
                       </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-input-custom calculator-block-r calculator-block-r-input">
                        <input id="usdAmountUSD"
                               type="number"
                               min="0.01"
                               max="1000000"
                               step="0.01"
                               placeholder="Your Invest in USD">
                        <span>
                           USD
                       </span>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="h3-margin">Your income</h3>

        <div class="income-wrapper">

            <ul class="nav mobil-block" role="tablist">
                <li class="nav-item dropdown dropdown-tabs-custom">
                    <a class="nav-link dropdown-toggle dropdown-toggle-custom2" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Daily</a>

                    <div class="dropdown-menu">
                        <div class="nav nav-tabs" role="tablist" id="tabs">
                            <a data-toggle="tab" class="nav-link active dropdown-item" id="id-tab1"
                               href="#id-1">Daily</a>
                            <a data-toggle="tab" class="nav-link dropdown-item" id="id-tab2" href="#id-2">Weekly</a>
                            <a data-toggle="tab" class="nav-link dropdown-item" id="id-tab3" href="#id-3">Monthly</a>
                            <a data-toggle="tab" class="nav-link dropdown-item" id="id-tab4" href="#id-4">Yearly</a>
                        </div>
                    </div>


                </li>

            </ul>

            <div class="tab-content mobil-block" id="myTabContent">
                <div class="tab-pane fade show active" id="id-1" role="tabpanel" aria-labelledby="id-tab1">
                    <div class="income-block">
                        <p class="p-blu-h3">Daily</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeGicMb"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeBtcMb"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeUsdMb"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="dayROIMb"></p>
                    </div>


                </div>
                <div class="tab-pane fade" id="id-2" role="tabpanel" aria-labelledby="id-tab2">
                    <div class="income-block">
                        <p class="p-blu-h3">Weekly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeGicMb"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeBtcMb"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeUsdMb"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="weekROIMb"></p>
                    </div>
                </div>
                <div class="tab-pane fade" id="id-3" role="tabpanel" aria-labelledby="id-tab3">
                    <div class="income-block">
                        <p class="p-blu-h3">Monthly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeGicMb"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeBtcMb"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeUsdMb"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="monthROIMb"></p>
                    </div>

                </div>

                <div class="tab-pane fade" id="id-4" role="tabpanel" aria-labelledby="id-tab4">
                    <div class="income-block">
                        <p class="p-blu-h3">Yearly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeGicMb"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeBtcMb"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeUsdMb"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="yearROIMb"></p>
                    </div>

                </div>
            </div>

            <div class="row no-mobil-block">
                <div class="col-md-6 col-lg-3">
                    <div class="income-block">
                        <p class="p-blu-h3">Daily</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeGic"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeBtc"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnDailyIncomeUsd"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="dayROI"></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="income-block">
                        <p class="p-blu-h3">Weekly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeGic"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeBtc"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnWeeklyIncomeUsd"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="weekROI"></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="income-block">
                        <p class="p-blu-h3">Monthly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeGic"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeBtc"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnMonthlyIncomeUsd"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="monthROI"></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="income-block">
                        <p class="p-blu-h3">Yearly</p>

                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeGic"></p>
                            <span>GIC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeBtc"></p>
                            <span>BTC</span>
                        </div>
                        <div class="block-input-custom calculator-block-r calculator-block-r-input">

                            <p class="gray-p" id="mnAnnualIncomeUsd"></p>
                            <span>USD</span>
                        </div>

                        <p class="p-blu-h3 margin-0" id="yearROI"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-blu block-blu-small" id="sRoiDays">
            <h3 class="white-color-center white-color white-color-bold">Payback period: <em></em></h3>

        </div>
        <h2 class="line-blu line-blu-internal">Masternode list</h2>
        <table id="masterNodesList" class="table-custom" style="width: 100%">
            <thead>
            <tr>
                <th>Address</th>
                <th>Protocol</th>
                <th>Endpoint</th>
                <th>Status</th>
            </tr>
            </thead>
        </table>

    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<!--Data Table-->
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>


<th:block th:replace="blocks/footer :: footer"></th:block>

<th:block th:replace="javascript/index/calculator :: code"></th:block>


<script src="js/bootstrap.js"></script>


<script>

    $('.dropdown-menu-custom a').on('click', function () {
        $('.dropdown-toggle-custom').html($(this).html() + '<span class="caret"></span>');
    })
</script>


<script>

    $('.dropdown-tabs-custom a').on('click', function () {
        $('.dropdown-toggle-custom2').html($(this).html() + '<span class="caret"></span>');
    })
</script>
<script type="text/javascript">

    (function ($) {

        $(window).on('load', function () {

            $.getJSON("/api/rates", function (rates) {
                $("#rateGicBtc").text(rates.btc + " BTC");
                $("#rateGicUsd").text(rates.usd + "$");

                /*Init Required coins for masternode*/
                $("#oneBtcInGic").text(numeral(rates.btc).format('0,0.00000000'));
                $("#oneBtcInMasterNode").text(numeral(rates.btc * 1000).format('0,0.00'));
                $("#oneUsdInGic").text(numeral(rates.usd).format('0,0.00000000'));
                $("#oneUsdInMasterNode").text(numeral(rates.usd * 1000).format('0,0.00'));

                $("#collateralPriceGic").text("1000 GIC");
                $("#collateralPriceUsd").text((1000 * rates.btc).toFixed(2) + " BTC");
                $("#collateralPriceBtc").text(numeral(1000 * rates.usd).format('0,0.00') + "$");

                $.getJSON("/api/masternodes/info", function (info) {
                    $("#dailyIncomeGic").text(numeral(info.daily).format('0,0.00') + " GIC");
                    $("#monthlyIncomeGic").text(numeral(info.monthly).format('0,0.00') + " GIC");
                    $("#annualIncomeGic").text(numeral(info.annual).format('0,0.00') + " GIC");

                    $("#dailyIncomeUsd").text(numeral(info.daily * rates.usd).format('0,0.00') + "$");
                    $("#monthlyIncomeUsd").text(numeral(info.monthly * rates.usd).format('0,0.00') + "$");
                    $("#annualIncomeUsd").text(numeral(info.annual * rates.usd).format('0,0.00') + "$");

                    $("#dailyIncomeBtc").text(numeral(info.daily * rates.btc).format('0,0.00000000') + " BTC");
                    $("#monthlyIncomeBtc").text(numeral(info.monthly * rates.btc).format('0,0.00000000') + " BTC");
                    $("#annualIncomeBtc").text(numeral(info.annual * rates.btc).format('0,0.00000000') + " BTC");

                    $("#roiPercent").text(numeral(info.roi.perYear).format('0,0.00') + "%");
                    $("#roiDays").text(numeral(info.days).format('0') + " days");


                    /*ROIS*/
                    $("#dayROI").text(numeral(info.roi.perDay).format('0,0.00') + "%");
                    $("#weekROI").text(numeral(info.roi.perWeek).format('0,0.00') + "%");
                    $("#monthROI").text(numeral(info.roi.perMonth).format('0,0.00') + "%");
                    $("#yearROI").text(numeral(info.roi.perYear).format('0,0.00') + "%");

                    $("#dayROIMb").text(numeral(info.roi.perDay).format('0,0.00') + "%");
                    $("#weekROIMb").text(numeral(info.roi.perWeek).format('0,0.00') + "%");
                    $("#monthROIMb").text(numeral(info.roi.perMonth).format('0,0.00') + "%");
                    $("#yearROIMb").text(numeral(info.roi.perYear).format('0,0.00') + "%");
                });
            });

            $('#masterNodesList').DataTable({
                "ajax": {
                    "url": "/api/masternodes",
                    "dataSrc": ""
                },
                "columns": [
                    {"data": "address"},
                    {"data": "protocol"},
                    {"data": "endpoint"},
                    {"data": "status"}
                ]
            });

        });

    })(jQuery);

</script>

</body>
</html>
