<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Presale</title>
    <meta name="description"
          content="GIANT MASTERNODE PRESALE - the exchange operation will be performed automatically after receiving the 1st confirmation of the BTC transaction.">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>
<div th:replace="blocks/header :: header"></div>


<section class="page_header padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h1>Giant <span>Presale</span></h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Presale</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 xs-padding">
                <div class="contact_form">
                    <h2>Giant Masternode Presale</h2>

                    <p>The exchange operation will be performed automatically after receiving the 1st confirmation of
                        the BTC transaction.</p>
                    <form action="" method="post" id="presaleForm" class="form-horizontal" novalidate>
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                                       required="">
                                <small id="emailHelp" class="form-text text-muted">Your contact Email address, for
                                    possible solving issues related to the payment.
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <label for="gicAddress">Giant Address:</label>
                                <input type="text" id="gicAddress" name="giantAddress" class="form-control"
                                       placeholder="Giant address ..."
                                       required="">
                                <small id="giantAddressHelp" class="form-text text-muted">Your GIC address.</small>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-sm-12">
                                <div id="errorMessage" style="display: none;" class="text-danger mt-1 mb-1"></div>
                                <button id="submit" class="button_1" type="submit" style="cursor: pointer;">Get 1001
                                    GIC
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 xs-padding">
                <div class="countdown-wrapper">
                    <div id="countdown"></div>
                    <p id="note" class="text-center text-muted"></p>
                    <p class="text-muted text-center mb-3 mt-2">Presale will last until 05/31/2018 or before listing on the exchange.</p>
                </div>
                <div class="text-center">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <td class="align-middle" style="font-size:1.1em; background:#507cdd; color:white;">
                                Collateral price
                            </td>
                            <td>
                                <span>1000 GIC</span><br/>
                                <span>0,6 BTC</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle" style="font-size:1.1em; background:#507cdd; color:white;">
                                Online Masternodes
                            </td>
                            <td><span th:text="${enabledMasternodes}"></span></td>
                        </tr>
                        <tr>
                            <td class="align-middle" style="font-size:1.1em; background:#507cdd; color:white;">ROI:
                            </td>
                            <td>
                                <span th:text="${masternodeRoi}"></span>% / <span th:text="${masternodeRoiDays}"></span>
                                days
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle" style="font-size:1.1em; background:#507cdd; color:white;">
                                Daily income
                            </td>
                            <td><span th:text="${dailyIncome}"></span> GIC</td>
                        </tr>
                        </tbody>
                    </table>

                    <p class="mb-0 mt-5 text-muted">Feel free to ask questions:</p>
                    <p class="text-muted">Our support: <a href="mailto:support@giantpay.network">support@giantpay.network</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>

<script>

    "use strict";

    (function ($) {

        var note = $('#note'),
            ts = new Date(2018, 4, 32),
            newYear = true;

        if ((new Date()) > ts) {
            // The new year is here! Count towards something else.
            // Notice the *1000 at the end - time must be in milliseconds
            ts = (new Date()).getTime() + 10 * 24 * 60 * 60 * 1000;
            newYear = false;
        }

        $('#countdown').countdown({
            timestamp: ts,
            callback: function (days, hours, minutes, seconds) {

                var message = "";
                message += days + " day" + (days == 1 ? '' : 's') + ", ";
                message += hours + " hour" + (hours == 1 ? '' : 's') + ", ";
                message += minutes + " minute" + (minutes == 1 ? '' : 's') + " and ";
                message += seconds + " second" + (seconds == 1 ? '' : 's') + " <br />";
                message += "left until the end of the presale";
                note.html(message);
            }
        });

        var processed = false;
        $("#presaleForm").submit(function () {
            var $email = $("#presaleForm #email").val();
            var $gicAddress = $("#presaleForm #gicAddress").val();

            $("#presaleForm").addClass("was-validated");

            if ($email && $gicAddress) {
                if (processed) {
                    return false;
                }
                processed = true;

                $("#presaleForm #email")[0].setCustomValidity('');
                $("#presaleForm #gicAddress")[0].setCustomValidity('');
                $("#presaleForm").removeClass("was-validated");
                $("#errorMessage").text('');
                $("#errorMessage").hide();

                $.ajax({
                    url: "/api/presale",
                    type: "POST",
                    data: JSON.stringify({
                        email: $email,
                        gicAddress: $gicAddress
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        location = "/presale/status?id=" + data.guid;
                    },
                    error: function (xhr, status, error) {
                        processed = false;

                        var err = JSON.parse(xhr.responseText);
                        console.log(err);

                        if (err.field === 'email') {
                            $("#presaleForm #email")[0].setCustomValidity('Email Error');
                        } else if (err.field === 'gicAddress') {
                            $("#presaleForm #gicAddress")[0].setCustomValidity('Gic Address Error');
                        }
                        $("#presaleForm").addClass("was-validated");
                        $("#errorMessage").text(err.message || 'Something wrong, please try again later');
                        $("#errorMessage").show();
                    }
                });
            }
            return false;
        });

    })(jQuery);

</script>
</body>
</html>