<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Proof-of-Stake</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">

    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" href="css/additions.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/>

</head>
<body>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header">Proof-of-Stake</h1>
        </div>

        <div class="proof">
            <div class="proof__block">
                <h2 id="design-goals">What is Proof-of-Stake?</h2>
                <div class="proof__block_text">
                    <p>
                        The Proof-of-Stake algorithm is a cryptocurrency transaction validation mechanism which revolves
                        around the economic share of each cryptocurrency holder. The new block of the cryptocurrency
                        blockchain is more likely to be approved by the validator with a bigger stake, although holders
                        of small sums, too, have a chance to receive a block reward.
                    </p>
                    <p>
                        Like every consensus algorithm, Proof-of-Stake is aimed to provide a decentralized economy in
                        which there is no central money issuer or authority. The financial governance is automatic,
                        meaning there are no quarrels which can lead to the coin volatility.
                    </p>
                    <p>
                        In comparison to the more popular Proof-of-Work where cryptocurrency miners solve difficult
                        cryptographic tasks and receive a block reward as a result, Proof-of-Stake is more energy
                        efficient. Another advantage of Proof-of-Stake is its resistance to 51% attacks when hackers
                        rent mining pools and can take over the whole network.
                    </p>
                </div>
            </div>
            <div class="proof__block">
                <h2>Reward Distribution</h2>
                <div class="proof__block_text">
                    <p>
                        In Giant, the Proof-of-Stake reward distribution depends on a following financial formula:
                    </p>
                    <p style="font-style: italic;">
                        hashProofOfStake < bnCoinDayWeight * bnTargetPerCoinDay
                    </p>
                    <p>
                        This means that the stakeholder will receive a new block reward when the calculated stake hash
                        is lesser than the multiplication of the stake size by the network difficulty inverse. The
                        network difficulty is connected to the bnTargetPerCoinDay parameter - the lesser it is, the
                        harder it will be to receive a new block reward.
                    </p>
                    <p>
                        To receive a Proof-of-Stake reward, the synchronized Giant Coin (GIC) wallet client must be
                        active 24/7. Unlike mining, this will not consume a lot of electricity or computing power. Note
                        that your big stake does not necessarily guarantees rewards - the network chooses randomly. You
                        can calculate your chances in the simple Giant PoS calculator.
                    </p>
                </div>
            </div>
            <div class="proof__block">
                <h2>Your investment</h2>
                <div class="proof__block_invest clear">
                    <div class="proof__block_invest-item">
                        <input id="btcAmountGIC"
                               type="number"
                               min="0.00000001"
                               max="10000000"
                               step="0.00000001"
                               placeholder="Your Invest in GIC">
                        <span>
                           GIC
                       </span>
                    </div>
                    <div class="proof__block_invest-item">
                        <input id="btcAmountBTC"
                               type="number"
                               min="0.00000001"
                               max="10000000"
                               step="0.00000001"
                               placeholder="Your Invest in BTC">
                        <span>
                           BTC
                       </span>
                    </div>
                    <div class="proof__block_invest-item">
                        <input id="usdAmountUSD"
                               type="number"
                               min="0.01"
                               max="1000000"
                               step="0.01"
                               placeholder="Your Invest in USD">
                        <span>
                           USD
                       </span>
                    </div>
                </div>
            </div>

            <div class="proof__block">
                <h2>Your income</h2>
                <div class="proof__income clear">
                    <!-- Daily -->
                    <div class="proof__income_item">
                        <div class="proof__income_item-title">
                            Daily
                        </div>
                        <div class="proof__income_item-field" id="sDailyIncomeGic">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>GIC</span>
                        </div>
                        <div class="proof__income_item-field" id="sDailyIncomeBtc">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>BTC</span>
                        </div>
                        <div class="proof__income_item-field" id="sDailyIncomeUsd">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>USD</span>
                        </div>
                        <div class="proof__income_roi" id="roiDay">
                            ROI: <!--Value from calculator.html-->
                            <em></em>
                        </div>
                    </div>
                    <div class="proof__income_item">
                        <!-- Weekly -->
                        <div class="proof__income_item-title">
                            Weekly
                        </div>
                        <div class="proof__income_item-field" id="sWeeklyIncomeGic">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>GIC</span>
                        </div>
                        <div class="proof__income_item-field" id="sWeeklyIncomeBtc">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>BTC</span>
                        </div>
                        <div class="proof__income_item-field" id="sWeeklyIncomeUsd">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>USD</span>
                        </div>
                        <div class="proof__income_roi" id="roiWeek">
                            ROI: <!--Value from calculator.html-->
                            <em></em>
                        </div>
                    </div>
                    <div class="proof__income_item">
                        <!--Monthly-->
                        <div class="proof__income_item-title">
                            Monthly
                        </div>
                        <div class="proof__income_item-field" id="sMonthlyIncomeGic">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>GIC</span>
                        </div>
                        <div class="proof__income_item-field" id="sMonthlyIncomeBtc">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>BTC</span>
                        </div>
                        <div class="proof__income_item-field" id="sMonthlyIncomeUsd">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>USD</span>
                        </div>
                        <div class="proof__income_roi" id="roiMonth">
                            ROI: <!--Value from calculator.html-->
                            <em></em>
                        </div>
                    </div>
                    <div class="proof__income_item">
                        <!--Yearly-->
                        <div class="proof__income_item-title">
                            Yearly
                        </div>
                        <div class="proof__income_item-field" id="sAnnualIncomeGic">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>GIC</span>
                        </div>
                        <div class="proof__income_item-field" id="sAnnualIncomeBtc">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>BTC</span>
                        </div>
                        <div class="proof__income_item-field" id="sAnnualIncomeUsd">
                            <!--Value from calculator.html-->
                            <em></em>
                            <span>USD</span>
                        </div>
                        <div class="proof__income_roi" id="roiYear">
                            ROI: <!--Value from calculator.html-->
                            <em></em>
                        </div>
                    </div>
                </div>
                <div class="proof__income_bottom" id="sRoiDays">
                    Payback period:<!--Value from calculator.html-->
                    <em></em>
                </div>
            </div>

            <div class="proof__block">
                <h2>PoS Calculations</h2>
                <div class="proof__table">
                    <table cellspacing="0" cellpadding="0" class="wide-table">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Day</td>
                            <td>Week</td>
                            <td>Month</td>
                        </tr>
                        <tr>
                            <td>Stake interval :</td>
                            <td id="stakeInterval"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Stake reward:</td>
                            <td>4 GIC</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total Amount (GIC)</td>
                            <td id="totalGic"></td>
                            <td id="totalGicDaily"></td>
                            <td id="totalGicWeekly"></td>
                            <td id="totalGicMonthly"></td>
                        </tr>
                        <tr>
                            <td>Total Amount (BTC)</td>
                            <td id="totalBtc"></td>
                            <td id="totalBtcDaily"></td>
                            <td id="totalBtcWeekly"></td>
                            <td id="totalBtcMonthly"></td>
                        </tr>
                        <tr>
                            <td>Total Amount (USD)</td>
                            <td id="totalUsd"></td>
                            <td id="totalUsdDaily"></td>
                            <td id="totalUsdWeekly"></td>
                            <td id="totalUsdMonthly"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="proof__block">
                <h2>Pos Statistics 24h</h2>
                <div class="proof__table">
                    <table>
                        <tr>
                            <td></td>
                            <td>Stake Amount</td>
                            <td>Difficulty</td>
                        </tr>
                        <tr>
                            <td>min</td>
                            <td id="minStake"></td>
                            <td id="minDiff"></td>
                        </tr>
                        <tr>
                            <td>avg</td>
                            <td id="avgStake"></td>
                            <td id="avgDiff"></td>
                        </tr>
                        <tr>
                            <td>max</td>
                            <td id="maxStake"></td>
                            <td id="maxDiff"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>

<th:block th:replace="blocks/header :: header_scripts"></th:block>

<th:block th:replace="javascript/index/calculator :: code"></th:block>

<script>
    $(document).ready(function () {
        $('.owl-carousel2, .owl-carousel5, .owl-carousel6').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });
    $(document).ready(function () {
        $('.owl-carousel3').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });

    $(document).ready(function () {
        $('.owl-carousel4').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1550: {
                    items: 3
                }
            }
        })
    });
    $('.am-prev').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next').on('click', function () {
        $('.owl-next').trigger('click');
    });

    $('.am-prev2').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next2').on('click', function () {
        $('.owl-next').trigger('click');
    });

</script>

<script src="js/scrollBar.js"></script>

<script>
    $(".custom-scroll").scrollBox();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="js/morris.js"></script>


<script src="js/jquery.sliderPro.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#example5').sliderPro({
            orientation: 'vertical',
            loop: true,
            width: 900,
            arrows: true,
            buttons: false,
            thumbnailsPosition: 'left',
            thumbnailHeight: 100,
            thumbnailPointer: true,
            thumbnailWidth: 280,
            autoplay: false,
            startSlide: 3,
            breakpoints: {
                1199: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    thumbnailWidth: 280,
                    thumbnailHeight: 100
                },
                991: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                767: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },

                480: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 600,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                360: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 700,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                }
            }
        });
    });

    $('.am-prev3').on('click', function () {
        $('.sp-previous-arrow').trigger('click');
    });

    $('.am-next3').on('click', function () {
        $('.sp-next-arrow').trigger('click');
    });

</script>


<script type="text/javascript">
    $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) {
        e.stopPropagation()
    });
    $('.dropdown-graphic input:checkbox').click(function () {
        $('.count-span').html($('.dropdown-graphic input:checkbox:checked').length);
    });
</script>

<script>
    $(document).ready(function () {
        $(".scroll-top").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '-=123'}, 500);
        });

        $(".scroll-bottom").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '+=123'}, 500);
        });
    });
</script>

</body>
</html>