<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Road map edit</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">

    <link rel="stylesheet" th:href="@{'/css/jquery.mCustomScrollbar.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/additions.css'}"/>
    <th:block th:replace="blocks/header :: head"></th:block>

</head>
<body>
<noscript style="display:none;visibility:hidden">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
            height="0" width="0"></iframe>
</noscript>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script src="js/jquery.spincrement.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" th:object="${roadMap}" th:action="@{/roadmap/save}" method="POST"
              style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${errors}">
                            <div th:each="error : ${errors}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Event</label>
                            <input type="text" class="form-control input-sm" th:field="*{event}"
                                   autofocus="autofocus" placeholder="Event" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Ready value</label>
                            <input type="number" class="form-control input-sm" th:field="*{readyValue}"
                                   maxlength="3" placeholder="Ready Value"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Date</label>
                            <label>
                                <input type="date" id="date" class="form-control input-sm" th:field="*{date}"/>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" class="form-control input-sm" th:field="*{id}"
                           maxlength="150" placeholder="Ready Value"/>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a th:href="@{/roadmap/admin}" class="btn btn-sm btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        var unix = "[[${roadMap.date.time}]]";
        document.getElementById("date").valueAsDate = new Date(new Number(unix));

    });
</script>
</body>
</html>