<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Roadmap</title>
    <meta name="description" content="Roadmap of Giant Coin">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>
<div th:replace="blocks/header :: header"></div>


<section class="page_header padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h1>Giant's <span>Roadmap</span></h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Roadmap</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sm-padding">
                <h3 class="mb-4">Q1 2018</h3>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Blockchain research & development</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <h3 class="mb-4 mt-5">Q2 2018</h3>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Blockchain launch</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Official website release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Official explorer release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Official mining pool release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>ANN in Bitcointalk</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Discord server</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Bounty program start</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">100%</span>
                    <h4>Presale start</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 100%;"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Listing on masternodes.online</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Listing on crypto-bridge.org</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>White paper release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Apple wallet release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <h3 class="mb-4 mt-5">Q3 2018</h3>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>GIANT Beta release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>GIANT promotion program start</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Adding of BTC options to the exchange</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Bonus program start</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Bitcoin options exchange release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>GIANT binary options exchange release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>GIANT release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Adding of Etherium, Litecoin, Bitcoin Cash, Dash, Ripple options to the exchange</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <h3 class="mb-4 mt-5">Q4 2018</h3>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Android wallet release</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>Listing on marcetcap.com</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="float-right">0%</span>
                    <h4>etc</h4>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>
</body>
</html>