<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Giant Coin Roadmap | Blockchain research & development | Progress of project</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">

    <th:block th:replace="blocks/header :: head"></th:block>
    <link rel="stylesheet" th:href="@{'/css/additions.css'}"/>

</head>
<body th:with="years=${roadMaps}">

<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header">Roadmap</h1>
        </div>

        <div class="roadmap" th:each="year : ${years}">


            <div th:if="${!years.get(year.key).get('Q1').isEmpty()}">
                <div class="roadmap__period clear">
                    <div class="roadmap__period_title">
                        Q1
                    </div>
                    <div class="roadmap__period_start" th:text="'JAN' + ${year.key}"></div>
                    <div class="roadmap__period_line"></div>
                    <div class="roadmap__period_end" th:text="'MAR' + ${year.key}"></div>
                </div>
                <div class="roadmap__block">
                    <div th:each="querter : ${years.get(year.key).get('Q1')}">
                        <div class="roadmap__range clear" th:classappend="${querter.color}">
                            <div class="roadmap__range_perсent" th:text="${querter.readyValue} + '%'"></div>
                            <div class="roadmap__range_line-wrapper" th:if="${!querter.isEmpty()}">
                                <div class="roadmap__range_line" th:style="'width:' + ${querter.readyValue}+'%;'">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>

                            <div class="roadmap__range_line-wrapper" th:if="${querter.isEmpty()}">
                                <div class="roadmap__range_line" style="width: 30%;">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${!years.get(year.key).get('Q2').isEmpty()}">
                <div class="roadmap__period clear">
                    <div class="roadmap__period_title">
                        Q2
                    </div>
                    <div class="roadmap__period_start" th:text="'APR' + ${year.key}"></div>
                    <div class="roadmap__period_line"></div>
                    <div class="roadmap__period_end" th:text="'JUN' + ${year.key}"></div>
                </div>

                <div class="roadmap__block">
                    <div th:each="querter : ${years.get(year.key).get('Q2')}">
                        <div class="roadmap__range clear" th:classappend="${querter.color}">
                            <div class="roadmap__range_perсent" th:text="${querter.readyValue} + '%'"></div>

                            <div class="roadmap__range_line-wrapper" th:if="${!querter.isEmpty()}">
                                <div class="roadmap__range_line" th:style="'width:' + ${querter.readyValue}+'%;'">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>

                            <div class="roadmap__range_line-wrapper" th:if="${querter.isEmpty()}">
                                <div class="roadmap__range_line" style="width: 30%;">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${!years.get(year.key).get('Q3').isEmpty()}">
                <div class="roadmap__period clear">
                    <div class="roadmap__period_title">
                        Q3
                    </div>
                    <div class="roadmap__period_start" th:text="'JUL' + ${year.key}"></div>
                    <div class="roadmap__period_line"></div>
                    <div class="roadmap__period_end" th:text="'SEP' + ${year.key}"></div>
                </div>

                <div class="roadmap__block">
                    <div th:each="querter : ${years.get(year.key).get('Q3')}">
                        <div class="roadmap__range clear" th:classappend="${querter.color}">
                            <div class="roadmap__range_perсent" th:text="${querter.readyValue} + '%'"></div>
                            <div class="roadmap__range_line-wrapper" th:if="${!querter.isEmpty()}">
                                <div class="roadmap__range_line" th:style="'width:' + ${querter.readyValue}+'%;'">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>

                            <div class="roadmap__range_line-wrapper" th:if="${querter.isEmpty()}">
                                <div class="roadmap__range_line" style="width: 30%;">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${!years.get(year.key).get('Q4').isEmpty()}">
                <div class="roadmap__period clear">
                    <div class="roadmap__period_title">
                        Q4
                    </div>
                    <div class="roadmap__period_start" th:text="'OCT' + ${year.key}"></div>
                    <div class="roadmap__period_line"></div>
                    <div class="roadmap__period_end" th:text="'DEC' + ${year.key}"></div>
                </div>

                <div class="roadmap__block">
                    <div th:each="querter : ${years.get(year.key).get('Q4')}">
                        <div class="roadmap__range clear" th:classappend="${querter.color}">
                            <div class="roadmap__range_perсent" th:text="${querter.readyValue} + '%'"></div>

                            <div class="roadmap__range_line-wrapper" th:if="${!querter.isEmpty()}">
                                <div class="roadmap__range_line" th:style="'width:' + ${querter.readyValue}+'%;'">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>

                            <div class="roadmap__range_line-wrapper" th:if="${querter.isEmpty()}">
                                <div class="roadmap__range_line" style="width: 30%;">
                                    <p th:text="${querter.event}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script th:src="@{'/js/jquery.spincrement.min.js'}"></script>

</body>
</html>