<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Road Map edit</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">

    <link rel="stylesheet" th:href="@{'/css/jquery.mCustomScrollbar.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/additions.css'}"/>
    <th:block th:replace="blocks/header :: head"></th:block>

</head>
<body>


<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Posts</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Event</th>
                    <th>Ready value</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="roadMap : ${roadMaps}">
                    <td th:text="${roadMap.id}"></td>
                    <td th:text="${roadMap.event}"></td>
                    <td th:text="${roadMap.readyValue}+'%'"></td>
                    <td th:text="${#dates.format(roadMap.date, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary" th:href="'/roadmap/update/'+${roadMap.id}">Edit</a>
                            <a class="delete btn btn-sm btn-danger"
                               th:href="'/roadmap/delete/'+${roadMap.id}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/roadmap/save">Add</a>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>


</body>
</html>