<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Giant Coin Presale</title>
    <meta name="description" content="">
    <th:block th:replace="blocks/header :: head"></th:block>
</head>
<body>
<div th:replace="blocks/header :: header"></div>


<section class="page_header padding">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="page_content">
                    <h1>Presale <span>Masternode</span></h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/presale">Presale</a></li>
                        <li class="breadcrumb-item active">Status</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 xs-padding text-center">
                <h2>Status of presale request</h2>

                <div id="loading" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center">
                    <i class="fas fa-spinner fa-pulse mt-5 mb-5"></i>
                </div>

                <div id="init" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center" style="display: none;">
                    <p class="m-0">Status: <span class="badge badge-primary">WAITING BTC TRANSACTION</span></p>
                    <p>Send <strong id="btcAmount"></strong> to the Bitcoin address <strong id="btcAddress"></strong>
                    </p>
                    <p class="m-0">The exchange operation will be performed automatically after receiving the 1st
                        confirmation of
                        the BTC transaction.</p>
                    <p class="m-0">After payment the page will update automatically.</p>
                    <i class="fas fa-spinner fa-pulse mt-5 mb-5"></i>
                </div>

                <div id="unconfirmed" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center" style="display: none;">
                    <p>Status: <span class="badge badge-warning">UNCONFIRMED</span></p>
                    <p>Transaction <a href="#" id="btcTx" rel="nofollow" target="_blank"></a> is found. Waiting for 1st
                        confirmation.</p>
                    <p class="m-0">The exchange operation will be performed automatically after receiving the 1st
                        confirmation of
                        the BTC transaction.</p>
                    <p class="m-0">After payment the page will update automatically.</p>
                    <i class="fas fa-spinner fa-pulse mt-5 mb-5"></i>
                </div>

                <div id="confirmed" class="shadow p-3 mt-5 mb-5 bg-white rounded text-center" style="display: none;">
                    <p>Status: <span class="badge badge-success">SUCCESS</span></p>
                    <p>You paid <a id="btcAmount" href="#" rel="nofollow" target="_blank"></a>.</p>
                    <p>You received <a id="gicAmount" href="#" rel="nofollow" target="_blank"></a></p>
                </div>

                <p class="mb-0 mt-5">Feel free to ask questions:</p>
                <p>Our support: <a href="mailto:support@giantpay.network">support@giantpay.network</a></p>
            </div>
        </div>
    </div>
</section>

<div th:replace="blocks/footer :: footer"></div>
<script th:inline="javascript">

    "use strict";

    (function ($) {

        var requestId = /*[[${presale.guid}]]*/ '0';
        var $interval = setInterval(function () {

            $.getJSON("/api/presale?id=" + requestId, function (data) {
                $("#loading").hide();

                if (data.status === "INIT") {
                    $("#unconfirmed").hide();
                    $("#confirmed").hide();

                    $("#init #btcAddress").text(data.btcAddress);
                    $("#init #btcAmount").text(data.btcAmount + ' BTC');

                    $("#init").show();

                } else if (data.status === "UNCONFIRMED") {
                    $("#init").hide();
                    $("#confirmed").hide();

                    $("#unconfirmed #btcTx").text(data.btcTx);
                    $("#unconfirmed #btcTx").attr("href", "https://blockchain.info/tx/" + data.btcTx);

                    $("#unconfirmed").show();
                } else if (data.status === "CONFIRMED") {
                    $("#init").hide();
                    $("#unconfirmed").hide();

                    $("#confirmed #btcAmount").text(data.btcAmount + " BTC");
                    $("#confirmed #btcAmount").attr("href", "https://blockchain.info/tx/" + data.btcTx);

                    $("#confirmed #gicAmount").text(data.gicAmount + " GIC");
                    $("#confirmed #gicAmount").attr("href", "https://explorer.giantpay.network/tx/" + data.gicTx);

                    $("#confirmed").show();

                    clearInterval($interval);
                }
            });

        }, 3000);

    })(jQuery);

</script>

</body>
</html>