<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Giant Coin Roadmap | Blockchain research & development | Progress of project</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.4.0/css/slider-pro.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="css/additions.css"/>

    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="js/tagManager.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-11023961-18');
    </script>

</head>
<body>
<noscript style="display:none;visibility:hidden">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
            height="0" width="0"></iframe>
</noscript>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header">Giant's Team</h1>
        </div>

        <div class="team__content clear">
            <div class="team__content_left">
                <div class="team__person active" id="team-person-one">
                    <div class="team__photo">
                        <img src="images/team/dmitryF.png" alt="Dmitry Filinberg">
                    </div>
                    <div class="team__name">
                        Dmitry Filinberg
                    </div>
                    <div class="team__job">
                        CEO/Technical Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Dmitry_Core_Dev#5664</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Products development</li>
                            <li>Smart contracts</li>
                            <li>Network security</li>
                            <li>Code review</li>
                            <li>Web resources administration</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “It’s easier to invent the future than to predict it”
                    </div>
                </div>

                <div class="team__person" id="team-person-two">
                    <div class="team__photo">
                        <img src="images/team/pavel.png" alt="Pavel Bulatov">
                    </div>
                    <div class="team__name">
                        Pavel Bulatov
                    </div>
                    <div class="team__job">
                        Marketing Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Discord:Giant_admin_rus#5008</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Marketing</li>
                            <li>Ad campaigns</li>
                            <li>Branding & Design</li>
                            <li>Negotiations with partners</li>
                            <li>Recruiting</li>
                            <li>Listings</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “No matter how good the idea is, it doesn’t cost anything without a strong team”
                    </div>
                </div>

                <div class="team__person" id="team-person-three">
                    <div class="team__photo">
                        <img src="images/team/mikhail.png" alt="Mikhail Maximov">
                    </div>
                    <div class="team__name">
                        Mikhail Maximov
                    </div>
                    <div class="team__job">
                        Community Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Giant_admin_rus#5008</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Community relations</li>
                            <li>Content plan</li>
                            <li>Content review & editing</li>
                            <li>SEO/Content management</li>
                            <li>Marketing analytics</li>
                            <li>Advisors</li>
                            <li>Localization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Do what you can, with what you have, where you are”
                    </div>
                </div>

                <div class="team__person" id="team-person-four">
                    <div class="team__photo">
                        <img src="images/team/maria.png" alt="Maria Sergeeva">
                    </div>
                    <div class="team__name">
                        Maria Sergeeva
                    </div>
                    <div class="team__job">
                        Project Manager
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Giant_admin_rus#5008</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Teamwork planning/Scrum</li>
                            <li>Analytics/Risk assessment</li>
                            <li>SEO/Content management</li>
                            <li>Manual testing</li>
                            <li>General tasks review</li>
                            <li>Company culture</li>
                            <li>Recruiting</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “I hate asking questions, but I do it all the time”
                    </div>
                </div>

                <div class="team__person" id="team-person-five">
                    <div class="team__photo">
                        <img src="images/team/nikolay.png" alt="Nikolay Korinets">
                    </div>
                    <div class="team__name">
                        Nikolay Korinets
                    </div>
                    <div class="team__job">
                        Writer
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Nick_Copywriter#5109</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Copywriting</li>
                            <li>Rewriting</li>
                            <li>Editing</li>
                            <li>Analytics</li>
                            <li>Localization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Rational work and realistic plans on how to create a final product are two main cornerstones of
                        every successful cryptocurrency enterprise”
                    </div>
                </div>

                <div class="team__person" id="team-person-six">
                    <div class="team__photo">
                        <img src="images/team/dmitryM.png" alt="Dmitry Myachin">
                    </div>
                    <div class="team__name">
                        Dmitry Myachin
                    </div>
                    <div class="team__job">
                        Blockchain Dev
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Dmitry_Blockchain_Dev#3206</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Smart contracts</li>
                            <li>Network security</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Nothing is impossible for people with intelligence”
                    </div>
                </div>

                <div class="team__person" id="team-person-seven">
                    <div class="team__photo">
                        <img src="images/team/ablai.png" alt="Ablai Tursumbekov">
                    </div>
                    <div class="team__name">
                        Ablai Tursumbekov
                    </div>
                    <div class="team__job">
                        Front-End Dev
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Ablai_JS_Dev#3656</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giant.Exchange</li>
                            <li>New features development</li>
                            <li>Code and libraries building</li>
                            <li>UI/UX design review</li>
                            <li>Speed & scalability assurance</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Calling tech support and telling them what to do”
                    </div>
                </div>

                <div class="team__person" id="team-person-eight">
                    <div class="team__photo">
                        <img src="images/team/alexei.png" alt="Alexei Bokarev">
                    </div>
                    <div class="team__name">
                        Alexei Bokarev
                    </div>
                    <div class="team__job">
                        JS DEV
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Alex_JS_Dev#4770</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giant Contracts Development Kit</li>
                            <li>Smart contracts</li>
                            <li>Module testing</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Skepticism improves this world”
                    </div>
                </div>


                <div class="team__person" id="team-person-nine">
                    <div class="team__photo">
                        <img src="images/team/almas.jpg" alt="Almas Abdrazak">
                    </div>
                    <div class="team__name">
                        Almas Abdrazak
                    </div>
                    <div class="team__job">
                        Java Fullstack Developer
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Almas_Fullstack#2353</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giantpay.network</li>
                            <li>Giant.Exchange</li>
                            <li>Module testing</li>
                            <li>Code analysis</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Talk is cheap. Show me the code”
                    </div>
                </div>

                <div class="team__person" id="team-person-ten">
                    <div class="team__photo">
                        <img src="images/team/tuan.jpg" alt="Tuan Nguyen">
                    </div>
                    <div class="team__name">
                        Tuan Nguyen
                    </div>
                    <div class="team__job">
                        Senior Support
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Masternode Setup</li>
                            <li>Masternode Consulting</li>
                            <li>Staking Wallet</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “When you don't create things, you become defined by your tastes rather than ability”
                    </div>
                </div>

                <div class="team__person" id="team-person-eleven">
                    <div class="team__photo">
                        <img src="images/team/alessio.jpg" alt="Alessio Mercurio">
                    </div>
                    <div class="team__name">
                        Alessio Mercurio
                    </div>
                    <div class="team__job">
                        Senior Moderator
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Community Awareness</li>
                            <li>Giant AMA</li>
                            <li>Moderation</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Never quit. Never give up. Fly it to the end”
                    </div>
                </div>

            </div>
            <div class="team__content_right">
                <div class="team__content_right-wrapper mCustomScrollbar" data-mcs-theme="my-theme">
                    <div class="team__block">
                        <div class="team__block_title">
                            Founders
                        </div>
                        <div class="team__block_person clear" data-link="team-person-one">
                            <div class="team__block_person-img">
                                <img src="images/team/dmitryF.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Dmitry Filinberg
                            </div>
                            <div class="team__block_person-job">
                                CEO/Technical Lead
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-two">
                            <div class="team__block_person-img">
                                <img src="images/team/pavel.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Pavel Bulatov
                            </div>
                            <div class="team__block_person-job">
                                Marketing Lead
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-three">
                            <div class="team__block_person-img">
                                <img src="images/team/mikhail.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Pavel Bulatov
                            </div>
                            <div class="team__block_person-job">
                                Marketing Lead
                            </div>
                        </div>
                    </div>

                    <div class="team__block">
                        <div class="team__block_title">
                            TEAM
                        </div>
                        <div class="team__block_person clear" data-link="team-person-four">
                            <div class="team__block_person-img">
                                <img src="images/team/maria.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Maria Sergeeva
                            </div>
                            <div class="team__block_person-job">
                                Project Manager
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-five">
                            <div class="team__block_person-img">
                                <img src="images/team/nikolay.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Nikolay Korinets
                            </div>
                            <div class="team__block_person-job">
                                Writer
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-six">
                            <div class="team__block_person-img">
                                <img src="images/team/dmitryM.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Dmitry Myachin
                            </div>
                            <div class="team__block_person-job">
                                Blockchain Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-seven">
                            <div class="team__block_person-img">
                                <img src="images/team/ablai.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Ablai Tursumbekov
                            </div>
                            <div class="team__block_person-job">
                                Front-End Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-eight">
                            <div class="team__block_person-img">
                                <img src="images/team/alexei.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Alexei Bokarev
                            </div>
                            <div class="team__block_person-job">
                                JS Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-nine">
                            <div class="team__block_person-img">
                                <img src="images/team/almas.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Almas Abdrazak
                            </div>
                            <div class="team__block_person-job">
                                Java Fullstack Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-ten">
                            <div class="team__block_person-img">
                                <img src="images/team/tuan.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Tuan Nguyen
                            </div>
                            <div class="team__block_person-job">
                                Senior Support
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-eleven">
                            <div class="team__block_person-img">
                                <img src="images/team/alessio.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Alessio Mercurio
                            </div>
                            <div class="team__block_person-job">
                                Senior Moderator
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script src="js/jquery.spincrement.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $('.team__block_person').click(function () {
        $('.team__person').hide();
        var link = $(this).attr('data-link');
        $('#' + link).show();
    });
</script>
<script>
    $(document).ready(function () {
        $('.owl-carousel2, .owl-carousel5, .owl-carousel6').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });
    $(document).ready(function () {
        $('.owl-carousel3').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 2
                },
                1550: {
                    items: 2
                }
            }
        })
    });

    $(document).ready(function () {
        $('.owl-carousel4').owlCarousel({
            autoWidth: false,
            autoPlay: true,
            nav: false,
            loop: true,
            dots: false,
            autoplayTimeout: 1000,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                767: {
                    items: 2
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1550: {
                    items: 3
                }
            }
        })
    });
    $('.am-prev').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next').on('click', function () {
        $('.owl-next').trigger('click');
    });

    $('.am-prev2').on('click', function () {
        $('.owl-prev').trigger('click');
    });


    $('.am-next2').on('click', function () {
        $('.owl-next').trigger('click');
    });

</script>

<script src="js/scrollBar.js"></script>

<script>
    $(".custom-scroll").scrollBox();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="js/morris.js"></script>


<script src="js/jquery.sliderPro.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#example5').sliderPro({
            orientation: 'vertical',
            loop: true,
            width: 900,
            arrows: true,
            buttons: false,
            thumbnailsPosition: 'left',
            thumbnailHeight: 100,
            thumbnailPointer: true,
            thumbnailWidth: 280,
            autoplay: false,
            startSlide: 3,
            breakpoints: {
                1199: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    thumbnailWidth: 280,
                    thumbnailHeight: 100
                },
                991: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                767: {
                    width: 900,
                    thumbnailsPosition: 'left',
                    height: 800,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },

                480: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 600,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                },
                360: {
                    width: 500,
                    thumbnailsPosition: 'left',
                    height: 700,
                    thumbnailWidth: 0,
                    thumbnailHeight: 0
                }
            }
        });
    });

    $('.am-prev3').on('click', function () {
        $('.sp-previous-arrow').trigger('click');
    });

    $('.am-next3').on('click', function () {
        $('.sp-next-arrow').trigger('click');
    });

</script>


<script type="text/javascript">
    $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) {
        e.stopPropagation()
    });
    $('.dropdown-graphic input:checkbox').click(function () {
        $('.count-span').html($('.dropdown-graphic input:checkbox:checked').length);
    });
</script>

<script>
    $(document).ready(function () {
        $(".scroll-top").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '-=123'}, 500);
        });

        $(".scroll-bottom").click(function (event) {
            $(this).parent().find(".list-square").animate({scrollTop: '+=123'}, 500);
        });
    });
</script>

</body>
</html>