<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Team</title>
    <meta name="description"
          content="The Giant team main commitment is to keep the development public. Using the scrum methodology, we work in 14-day sprints. Sprint backlogs and results are posted on our website and the social media. Investors always see what we do and what to expect">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/jquery.mCustomScrollbar.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/additions.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/site.css'}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <script th:src="${'/js/tagManager.js'}"></script>

</head>
<body>
<header class="header-main">
    <th:block th:replace="blocks/header :: mainmenu"></th:block>
</header>

<div class="content">
    <div class="container">
        <div class="content-block">
            <h1 class="content-block__header">Giant Team</h1>
        </div>

        <div class="team__content clear">
            <div class="team__content_left">
                <div class="team__person active" id="team-person-one">
                    <div class="team__photo">
                        <img src="/images/team/dmitryF.png" alt="Dmitry Filinberg">
                    </div>
                    <div class="team__name">
                        Dmitry Filinberg
                    </div>
                    <div class="team__job">
                        CEO/Technical Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Dmitry_Core_Dev#5664</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Products development</li>
                            <li>Smart contracts</li>
                            <li>Network security</li>
                            <li>Code review</li>
                            <li>Web resources administration</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “It’s easier to invent the future than to predict it”
                    </div>
                </div>

                <div class="team__person" id="team-person-two">
                    <div class="team__photo">
                        <img src="/images/team/pavel.png" alt="Pavel Bulatov">
                    </div>
                    <div class="team__name">
                        Pavel Bulatov
                    </div>
                    <div class="team__job">
                        Marketing Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Giant_admin_rus#5008</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Marketing</li>
                            <li>Ad campaigns</li>
                            <li>Branding & Design</li>
                            <li>Negotiations with partners</li>
                            <li>Recruiting</li>
                            <li>Listings</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “No matter how good the idea is, it doesn’t cost anything without a strong team”
                    </div>
                </div>

                <div class="team__person" id="team-person-three">
                    <div class="team__photo">
                        <img src="/images/team/mikhail.png" alt="Mikhail Maximov">
                    </div>
                    <div class="team__name">
                        Mikhail Maximov
                    </div>
                    <div class="team__job">
                        Community Lead
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Giant_admin_en#5252</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Community relations</li>
                            <li>Content plan</li>
                            <li>Content review & editing</li>
                            <li>SEO/Content management</li>
                            <li>Marketing analytics</li>
                            <li>Advisors</li>
                            <li>Localization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Do what you can, with what you have, where you are”
                    </div>
                </div>

                <div class="team__person" id="team-person-four">
                    <div class="team__photo">
                        <img src="/images/team/maria.png" alt="Maria Sergeeva">
                    </div>
                    <div class="team__name">
                        Maria Sergeeva
                    </div>
                    <div class="team__job">
                        Project Manager
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Mari_Project_manager#5387</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Teamwork planning/Scrum</li>
                            <li>Analytics/Risk assessment</li>
                            <li>SEO/Content management</li>
                            <li>Manual testing</li>
                            <li>General tasks review</li>
                            <li>Company culture</li>
                            <li>Recruiting</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “I hate asking questions, but I do it all the time”
                    </div>
                </div>

                <div class="team__person" id="team-person-five">
                    <div class="team__photo">
                        <img src="/images/team/nikolay.png" alt="Nikolay Korinets">
                    </div>
                    <div class="team__name">
                        Nikolay Korinets
                    </div>
                    <div class="team__job">
                        Writer
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Nick_Copywriter#5109</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Copywriting</li>
                            <li>Rewriting</li>
                            <li>Editing</li>
                            <li>Analytics</li>
                            <li>Localization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Rational work and realistic plans on how to create a final product are two main cornerstones of
                        every successful cryptocurrency enterprise”
                    </div>
                </div>

                <div class="team__person" id="team-person-six">
                    <div class="team__photo">
                        <img src="/images/team/nastya.jpeg" alt="Anastasia Chumachenko">
                    </div>
                    <div class="team__name">
                        Anastasia Chumachenko
                    </div>
                    <div class="team__job">
                        Content Manager
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Nastya_Manager#1781</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Content management</li>
                            <li>Community awareness</li>
                            <li>Social media</li>
                            <li>SEO</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “If you never try, you will never know”
                    </div>
                </div>

                <div class="team__person" id="team-person-seven">
                    <div class="team__photo">
                        <img src="/images/team/dmitryM.png" alt="Dmitry Myachin">
                    </div>
                    <div class="team__name">
                        Dmitry Myachin
                    </div>
                    <div class="team__job">
                        Blockchain Dev
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Dmitry_Blockchain_Dev#3206</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Smart contracts</li>
                            <li>Network security</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Nothing is impossible for people with intelligence”
                    </div>
                </div>

                <div class="team__person" id="team-person-eight">
                    <div class="team__photo">
                        <img src="/images/team/ablai.png" alt="Ablai Tursumbekov">
                    </div>
                    <div class="team__name">
                        Ablai Tursumbekov
                    </div>
                    <div class="team__job">
                        Front-End Dev
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Ablai_JS_Dev#3656</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giant.Exchange</li>
                            <li>New features development</li>
                            <li>Code and libraries building</li>
                            <li>UI/UX design review</li>
                            <li>Speed & scalability assurance</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Calling tech support and telling them what to do”
                    </div>
                </div>

                <div class="team__person" id="team-person-nine">
                    <div class="team__photo">
                        <img src="/images/team/denis.jpeg" alt="Denis Seliverstov">
                    </div>
                    <div class="team__name">
                        Denis Seliverstov
                    </div>
                    <div class="team__job">
                        Front-End Dev Jr.
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Denis_JS_Dev#8215</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giant.Exchange</li>
                            <li>Module testing</li>
                            <li>Code analysis</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote" id="smallQuote">
                        “If you do not think about the future, you cannot have one”
                    </div>
                </div>

                <div class="team__person" id="team-person-ten">
                    <div class="team__photo">
                        <img src="/images/team/alexei.png" alt="Alexei Bokarev">
                    </div>
                    <div class="team__name">
                        Alexei Bokarev
                    </div>
                    <div class="team__job">
                        JS Dev
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Alex_JS_Dev#4770</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giant Contracts Development Kit</li>
                            <li>Smart contracts</li>
                            <li>Module testing</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Skepticism improves this world”
                    </div>
                </div>

                <div class="team__person" id="team-person-eleven">
                    <div class="team__photo">
                        <img src="/images/team/almas.jpg" alt="Almas Abdrazak">
                    </div>
                    <div class="team__name">
                        Almas Abdrazak
                    </div>
                    <div class="team__job">
                        Java Fullstack Developer
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Almas_Fullstack#2353</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giantpay.network</li>
                            <li>Giant.Exchange</li>
                            <li>Module testing</li>
                            <li>Code analysis</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Talk is cheap. Show me the code”
                    </div>
                </div>

                <div class="team__person" id="team-person-twelve">
                    <div class="team__photo">
                        <img src="/images/team/ian.jpeg" alt="Ian Burtovoy">
                    </div>
                    <div class="team__name">
                        Ian Burtovoy
                    </div>
                    <div class="team__job">
                        Java Fullstack Developer
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Ian_FullStack#4994</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Giantpay.network</li>
                            <li>Giant.Exchange</li>
                            <li>Module testing</li>
                            <li>Code analysis</li>
                            <li>Environment optimization</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Code eat sleep, repeat”
                    </div>
                </div>

                <div class="team__person" id="team-person-thirteen">
                    <div class="team__photo">
                        <img src="/images/team/tuan.jpg" alt="Tuan Nguyen">
                    </div>
                    <div class="team__name">
                        Tuan Nguyen
                    </div>
                    <div class="team__job">
                        Support
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>ballz41#0550</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Masternode Setup</li>
                            <li>Masternode Consulting</li>
                            <li>Staking Wallet</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “When you don't create things, you become defined by your tastes rather than ability”
                    </div>
                </div>

                <div class="team__person" id="team-person-fourteen">
                    <div class="team__photo">
                        <img src="/images/team/veeramanikandan.jpg" alt="Veeramanikandan Arunachalam">
                    </div>
                    <div class="team__name">
                        Veeramanikandan Arunachalam
                    </div>
                    <div class="team__job">
                        Support
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>mani#2612</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Masternode Setup</li>
                            <li>Masternode Consulting</li>
                            <li>Staking Wallet</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Always be happy”
                    </div>
                </div>

                <div class="team__person" id="team-person-fifteen">
                    <div class="team__photo">
                        <img src="/images/team/alessio.jpg" alt="Alessio Mercurio">
                    </div>
                    <div class="team__name">
                        Alessio Mercurio
                    </div>
                    <div class="team__job">
                        Senior Moderator
                    </div>
                    <div class="team__socials">
                        <a href="https://discordapp.com/invite/7NRqsAN" target="blank"><i
                                class="fab fa-discord"></i></a>
                        <p>Bruttagente#9549</p>
                    </div>
                    <div class="team__description">
                        <ul>
                            <li>Community Awareness</li>
                            <li>Giant AMA</li>
                            <li>Moderation</li>
                        </ul>
                    </div>
                    <div class="team__quote">
                        “Never quit. Never give up. Fly it to the end”
                    </div>
                </div>


            </div>
            <div class="team__content_right">
                <div class="team__content_right-wrapper mCustomScrollbar" data-mcs-theme="my-theme">
                    <div class="team__block">
                        <div class="team__block_title">
                            Founders
                        </div>
                        <div class="team__block_person clear" data-link="team-person-one">
                            <div class="team__block_person-img">
                                <img src="/images/team/dmitryF.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Dmitry Filinberg
                            </div>
                            <div class="team__block_person-job">
                                CEO/Technical Lead
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-two">
                            <div class="team__block_person-img">
                                <img src="/images/team/pavel.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Pavel Bulatov
                            </div>
                            <div class="team__block_person-job">
                                Marketing Lead
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-three">
                            <div class="team__block_person-img">
                                <img src="/images/team/mikhail.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Mikhail Maximov
                            </div>
                            <div class="team__block_person-job">
                                Community Lead
                            </div>
                        </div>
                    </div>

                    <div class="team__block">
                        <div class="team__block_title">
                            Team
                        </div>
                        <div class="team__block_person clear" data-link="team-person-four">
                            <div class="team__block_person-img">
                                <img src="/images/team/maria.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Maria Sergeeva
                            </div>
                            <div class="team__block_person-job">
                                Project Manager
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-five">
                            <div class="team__block_person-img">
                                <img src="/images/team/nikolay.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Nikolay Korinets
                            </div>
                            <div class="team__block_person-job">
                                Writer
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-six">
                            <div class="team__block_person-img">
                                <img src="/images/team/nastya.jpeg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Anastasia Chumachenko
                            </div>
                            <div class="team__block_person-job">
                                Content Manager
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-seven">
                            <div class="team__block_person-img">
                                <img src="/images/team/dmitryM.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Dmitry Myachin
                            </div>
                            <div class="team__block_person-job">
                                Blockchain Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-eight">
                            <div class="team__block_person-img">
                                <img src="/images/team/ablai.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Ablai Tursumbekov
                            </div>
                            <div class="team__block_person-job">
                                Front-End Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-nine">
                            <div class="team__block_person-img">
                                <img src="/images/team/denis.jpeg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Denis Seliverstov
                            </div>
                            <div class="team__block_person-job">
                                Front-End Dev Jr.
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-ten">
                            <div class="team__block_person-img">
                                <img src="/images/team/alexei.png" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Alexei Bokarev
                            </div>
                            <div class="team__block_person-job">
                                JS Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-eleven">
                            <div class="team__block_person-img">
                                <img src="/images/team/almas.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Almas Abdrazak
                            </div>
                            <div class="team__block_person-job">
                                Java Fullstack Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-twelve">
                            <div class="team__block_person-img">
                                <img src="/images/team/ian.jpeg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Ian Burtovoy
                            </div>
                            <div class="team__block_person-job">
                                Java Fullstack Dev
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-thirteen">
                            <div class="team__block_person-img">
                                <img src="/images/team/tuan.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Tuan Nguyen
                            </div>
                            <div class="team__block_person-job">
                                Support
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-fourteen">
                            <div class="team__block_person-img">
                                <img src="/images/team/veeramanikandan.jpg" alt="Veeramanikandan Arunachalam">
                            </div>
                            <div class="team__block_person-name">
                                Veeramanikandan Arunachalam
                            </div>
                            <div class="team__block_person-job">
                                Support
                            </div>
                        </div>

                        <div class="team__block_person clear" data-link="team-person-fifteen">
                            <div class="team__block_person-img">
                                <img src="/images/team/alessio.jpg" alt="Person photo">
                            </div>
                            <div class="team__block_person-name">
                                Alessio Mercurio
                            </div>
                            <div class="team__block_person-job">
                                Senior Moderator
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="blocks/footer :: footer"></th:block>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
<script th:src="@{'/js/jquery.spincrement.min.js'}"></script>
<script th:src="@{'/js/owl.carousel.js'}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script th:src="@{'/js/jquery.mCustomScrollbar.concat.min.js'}"></script>

<script type="application/javascript">
    $(document).ready(function () {
        $('.team__block_person').click(function () {
            $('.team__person').hide();
            var link = $(this).attr('data-link');
            $('#' + link).show();
        });
    })
</script>
</body>
</html>