<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <div class="footer-top">
                <img src="/images/logo_6.png">
            </div>
            <div class="footer-center">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Whitepapers</p>
                            <p><a href="/whitepaper.pdf" target="_blank">Giant</a></p>
                            <p><a href="/GiantContractsWhitepaper.pdf" target="_blank">Giant Contracts</a></p>
                            <p><a href="/GiantExchangeWhitepaper.pdf" target="_blank">Giant.Exchange</a></p>
                        </div>
                        <div class="footer-block">
                            <p class="footer-title">Exchanges</p>
                            <p><a href="https://wallet.crypto-bridge.org/market/BRIDGE.GIC_BRIDGE.BTC" rel="nofollow"
                                  target="_blank">CryptoBridge</a></p>
                            <p><a href="https://graviex.net/markets/gicbtc" rel="nofollow" target="_blank">Graviex</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Wallets</p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-win32.zip"
                                   rel="nofollow" target="_blank">Windows 32-bit wallet</a></p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-win64.zip"
                                   rel="nofollow" target="_blank">Windows 64-bit wallet</a></p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-linux64.zip"
                                   rel="nofollow" target="_blank">Ubuntu 16.04</a></p>
                            <p><a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/GIANT-Qt.dmg"
                                  rel="nofollow" target="_blank">Mac OS</a></p>
                        </div>
                        <div class="footer-block d-none">
                            <p class="footer-title">Wallets</p>
                            <p><a href="#" rel="nofollow" target="_blank">Android</a></p>
                            <p><a href="#" rel="nofollow" target="_blank">iOS</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Giant Products</p>
                            <p><a href="https://giant.exchange" target="_blank">Giant.Exchange</a></p>
                            <p><a href="/products">Giant.Bet</a></p>
                            <p><a href="/products">Giant.Coldstake</a></p>
                        </div>
                        <div class="footer-block">
                            <p><a href="https://trello.com/b/3QPfSlfL" rel="nofollow" target="_blank">Trello</a></p>
                            <p><a href="https://github.com/GiantPay" rel="nofollow" target="_blank">Github</a></p>
                            <p><a href="https://explorer.giantpay.network/" target="_blank">Explorer</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Coin listings</p>
                            <p><a href="https://coinmarketcap.com/currencies/giant-coin/" rel="nofollow"
                                  target="_blank">Coinmarketcap.com</a></p>
                            <p><a href="https://www.cryptocompare.com/coins/gic/overview" rel="nofollow"
                                  target="_blank">Cryptocompare.com</a></p>
                            <p><a href="https://www.worldcoinindex.com/coin/giant" rel="nofollow" target="_blank">Worldcoinindex.com</a>
                            </p>
                            <p><a href="https://coinlib.io/coin/GIC/Giant" rel="nofollow" target="_blank">Coinlib.io</a>
                            </p>
                            <p><a href="https://www.livecoinwatch.com/price/Giant-GIC" rel="nofollow" target="_blank">Livecoinwatch.com</a>
                            </p>
                            <p><a href="https://coincodex.com/crypto/giant/" rel="nofollow" target="_blank">Coincodex.com</a>
                            </p>
                            <p><a href="https://www.coinranker.net/cryptocurrency/Giant" rel="nofollow" target="_blank">Coinranker.net</a>
                            </p>
                            <p><a href="https://www.coingecko.com/en/coins/giant" rel="nofollow" target="_blank">Coingecko.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Social</p>
                            <p><a href="https://discord.gg/7NRqsAN" rel="nofollow" target="_blank">Discord</a></p>
                            <p><a href="https://bitcointalk.org/index.php?topic=3655657.0" rel="nofollow"
                                  target="_blank">Bitcointalk</a></p>
                            <p><a href="https://twitter.com/giant_coin" rel="nofollow" target="_blank">Twitter</a></p>
                            <p><a href="https://t.me/giantcrypto" rel="nofollow" target="_blank">Telegram</a></p>
                            <p><a href="https://fb.me/giantcrypto" rel="nofollow" target="_blank">Facebook</a></p>
                            <p><a href="https://www.reddit.com/user/giantadmin" rel="nofollow"
                                  target="_blank">Reddit</a></p>
                            <p><a href="https://www.youtube.com/channel/UCV4o0e0gtVAU2K97TVxYWcA" rel="nofollow"
                                  target="_blank">Youtube</a></p>
                            <p><a href="https://vk.com/giantcoin" rel="nofollow" target="_blank">Vkontakte</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Articles</p>
                            <p><a href="https://medium.com/@GiantProject" rel="nofollow" target="_blank">Medium</a></p>
                            <p><a href="https://steemit.com/@giant-admin" rel="nofollow" target="_blank">Steemit</a></p>
                            <p><a href="https://golos.io/@giantadmin" rel="nofollow" target="_blank">Golos</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="footer-block footer-block-contacts">
                            <p class="footer-title">Contact Us</p>
                            <p>
                                <span>E-mail:</span><a href="mailto:admin@giantpay.network" target="_blank"
                                                       rel="nofollow">admin@giantpay.network</a>
                            </p>
                            <p><span>Discord:</span><a href="https://discord.gg/7NRqsAN" target="_blank" rel="nofollow">Giant_admin_en#5252</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p class="copy">GIANT COIN &copy; 2018 ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
    <script src="/js/jquery.spincrement.min.js"></script>
    <script src="/js/owl.carousel.js"></script>


    <script>
        $(document).ready(function () {
            $('.owl-carousel2, .owl-carousel5, .owl-carousel6').owlCarousel({
                autoWidth: false,
                autoPlay: true,
                nav: false,
                loop: true,
                dots: false,
                autoplayTimeout: 1000,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    992: {
                        items: 2
                    },
                    1200: {
                        items: 2
                    },
                    1550: {
                        items: 2
                    }
                }
            })
        });
        $(document).ready(function () {
            $('.owl-carousel3').owlCarousel({
                autoWidth: false,
                autoPlay: true,
                nav: false,
                loop: true,
                dots: false,
                autoplayTimeout: 1000,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    992: {
                        items: 2
                    },
                    1200: {
                        items: 2
                    },
                    1550: {
                        items: 2
                    }
                }
            })
        });

        $(document).ready(function () {
            $('.owl-carousel4').owlCarousel({
                autoWidth: false,
                autoPlay: true,
                nav: false,
                loop: true,
                dots: false,
                autoplayTimeout: 1000,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    992: {
                        items: 2
                    },
                    1200: {
                        items: 3
                    },
                    1550: {
                        items: 3
                    }
                }
            })
        });
        $('.am-prev').on('click', function () {
            $('.owl-prev').trigger('click');
        });


        $('.am-next').on('click', function () {
            $('.owl-next').trigger('click');
        });

        $('.am-prev2').on('click', function () {
            $('.owl-prev').trigger('click');
        });


        $('.am-next2').on('click', function () {
            $('.owl-next').trigger('click');
        });

    </script>

    <script src="/js/scrollBar.js"></script>

    <script>
        $(".custom-scroll").scrollBox();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
    <script src="/js/morris.js"></script>


    <script src="/js/jquery.sliderPro.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#example5').sliderPro({
                orientation: 'vertical',
                loop: true,
                width: 900,
                arrows: true,
                buttons: false,
                thumbnailsPosition: 'left',
                thumbnailHeight: 100,
                thumbnailPointer: true,
                thumbnailWidth: 280,
                autoplay: false,
                startSlide: 3,
                breakpoints: {
                    1199: {
                        width: 900,
                        thumbnailsPosition: 'left',
                        thumbnailWidth: 280,
                        thumbnailHeight: 100
                    },
                    991: {
                        width: 900,
                        thumbnailsPosition: 'left',
                        height: 800,
                        thumbnailWidth: 0,
                        thumbnailHeight: 0
                    },
                    767: {
                        width: 900,
                        thumbnailsPosition: 'left',
                        height: 800,
                        thumbnailWidth: 0,
                        thumbnailHeight: 0
                    },

                    480: {
                        width: 500,
                        thumbnailsPosition: 'left',
                        height: 600,
                        thumbnailWidth: 0,
                        thumbnailHeight: 0
                    },
                    360: {
                        width: 500,
                        thumbnailsPosition: 'left',
                        height: 700,
                        thumbnailWidth: 0,
                        thumbnailHeight: 0
                    }
                }
            });
        });

        $('.am-prev3').on('click', function () {
            $('.sp-previous-arrow').trigger('click');
        });

        $('.am-next3').on('click', function () {
            $('.sp-next-arrow').trigger('click');
        });

    </script>


    <script type="text/javascript">
        $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) {
            e.stopPropagation()
        });
        $('.dropdown-graphic input:checkbox').click(function () {
            $('.count-span').html($('.dropdown-graphic input:checkbox:checked').length);
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".scroll-top").click(function (event) {
                $(this).parent().find(".list-square").animate({scrollTop: '-=123'}, 500);
            });

            $(".scroll-bottom").click(function (event) {
                $(this).parent().find(".list-square").animate({scrollTop: '+=123'}, 500);
            });
        });
    </script>
</th:block>
</body>
</html>