<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <div class="footer-top">
                <img src="images/logo_6.png">
            </div>
            <div class="footer-center">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Whitepapers</p>
                            <p><a href="whitepaper.pdf" target="_blank">Giant</a></p>
                            <p><a href="GiantContractsWhitepaper.pdf" target="_blank">Giant Contracts</a></p>
                            <p><a href="GiantExchangeWhitepaper.pdf" target="_blank">Giant.Exchange</a></p>
                        </div>
                        <div class="footer-block">
                            <p class="footer-title">Exchanges</p>
                            <p><a href="https://wallet.crypto-bridge.org/market/BRIDGE.GIC_BRIDGE.BTC" rel="nofollow"
                                  target="_blank">CryptoBridge</a></p>
                            <p><a href="https://graviex.net/markets/gicbtc" rel="nofollow" target="_blank">Graviex</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Wallets</p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-win32.zip"
                                   rel="nofollow" target="_blank">Windows 32-bit wallet</a></p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-win64.zip"
                                   rel="nofollow" target="_blank">Windows 64-bit wallet</a></p>
                            <p>
                                <a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/giant-1.2.2.1-linux64.zip"
                                   rel="nofollow" target="_blank">Ubuntu 16.04</a></p>
                            <p><a href="https://github.com/GiantPay/GiantCore/releases/download/1.2.2.1/GIANT-Qt.dmg"
                                  rel="nofollow" target="_blank">Mac OS</a></p>
                        </div>
                        <div class="footer-block d-none">
                            <p class="footer-title">Wallets</p>
                            <p><a href="index.html#" rel="nofollow" target="_blank">Android</a></p>
                            <p><a href="index.html#" rel="nofollow" target="_blank">iOS</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Giant Products</p>
                            <p><a href="https://giant.exchange" target="_blank">Giant.Exchange</a></p>
                            <p><a href="products">Giant.Bet</a></p>
                            <p><a href="products">Giant.Coldstake</a></p>
                        </div>
                        <div class="footer-block">
                            <p><a href="https://trello.com/b/3QPfSlfL" rel="nofollow" target="_blank">Trello</a></p>
                            <p><a href="https://github.com/GiantPay" rel="nofollow" target="_blank">Github</a></p>
                            <p><a href="https://explorer.giantpay.network/" target="_blank">Explorer</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Listings</p>
                            <p><a href="https://coinmarketcap.com/currencies/giant-coin/" rel="nofollow"
                                  target="_blank">Coinmarketcap.com</a></p>
                            <p><a href="https://www.cryptocompare.com/coins/gic/overview" rel="nofollow"
                                  target="_blank">Cryptocompare.com</a></p>
                            <p><a href="https://www.worldcoinindex.com/coin/giant" rel="nofollow" target="_blank">Worldcoinindex.com</a>
                            </p>
                            <p><a href="https://coinlib.io/coin/GIC/Giant" rel="nofollow" target="_blank">Coinlib.io</a>
                            </p>
                            <p><a href="https://www.livecoinwatch.com/price/Giant-GIC" rel="nofollow" target="_blank">Livecoinwatch.com</a>
                            </p>
                            <p><a href="https://coincodex.com/crypto/giant/" rel="nofollow"
                                  target="_blank">Coincodex.com</a>
                            </p>
                            <p><a href="https://www.coinranker.net/cryptocurrency/Giant" rel="nofollow" target="_blank">Coinranker.net</a>
                            </p>
                            <p><a href="https://www.coingecko.com/en/coins/giant" rel="nofollow" target="_blank">Coingecko.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Social</p>
                            <p><a href="https://discord.gg/7NRqsAN" rel="nofollow" target="_blank">Discord</a></p>
                            <p><a href="https://bitcointalk.org/index.php?topic=3655657.0" rel="nofollow"
                                  target="_blank">Bitcointalk</a></p>
                            <p><a href="https://twitter.com/giant_coin" rel="nofollow" target="_blank">Twitter</a></p>
                            <p><a href="https://t.me/giantcrypto" rel="nofollow" target="_blank">Telegram</a></p>
                            <p><a href="https://fb.me/giantcrypto" rel="nofollow" target="_blank">Facebook</a></p>
                            <p><a href="https://www.reddit.com/user/giantadmin" rel="nofollow"
                                  target="_blank">Reddit</a></p>
                            <p><a href="https://www.youtube.com/channel/UCV4o0e0gtVAU2K97TVxYWcA" rel="nofollow"
                                  target="_blank">Youtube</a></p>
                            <p><a href="https://vk.com/giantcoin" rel="nofollow" target="_blank">Vkontakte</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <div class="footer-block">
                            <p class="footer-title">Articles</p>
                            <p><a href="https://medium.com/@GiantProject" rel="nofollow" target="_blank">Medium</a></p>
                            <p><a href="https://steemit.com/@giant-admin" rel="nofollow" target="_blank">Steemit</a></p>
                            <p><a href="https://golos.io/@giantadmin" rel="nofollow" target="_blank">Golos</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</th:block>
</body>
</html>