<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <section class="widget_section padding">
        <div class="container">
            <div class="row widget_wrapper">
                <div class="col-lg-3 col-sm-6 sm-padding">
                    <img class="mb-10" src="/images/favicon-96x96.png" alt="Giant Coin">
                    <p>Be a part of a great community and together we can achive all goals.</p>
                    <ul class="footer_social">
                        <li>
                            <a href="https://twitter.com/giant_coin" target="_blank" rel="nofollow">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="${@marketingService.getDiscordUrl()}" target="_blank" rel="nofollow">
                                <i class="fab fa-discord fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://trello.com/b/3QPfSlfL" target="_blank" rel="nofollow">
                                <i class="fab fa-trello fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://bitcointalk.org/index.php?topic=3655657.0" target="_blank" rel="nofollow">
                                <i class="fab fa-bitcoin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/GiantPay/GiantCore" target="_blank" rel="nofollow">
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <h3>GIANT</h3>
                    <ul class="widget_links">
                        <li><a href="/wallet">Wallet</a></li>
                        <li><a href="/about">Specification</a></li>
                        <li><a href="/roadmap">Roadmap</a></li>
                        <li><a href="/pages">News</a></li>
                        <li><a href="https://explorer.giantpay.network" rel="nofollow" target="_blank">Explorer</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <h3>Projects</h3>
                    <ul class="widget_links">
                        <li><a href="https://giant.exchange/" rel="nofollow" target="_blank">Giant.Exchange</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <h3>Social</h3>
                    <ul class="widget_links">
                        <li><a href="https://twitter.com/giant_coin" rel="nofollow" target="_blank">Twitter</a></li>
                        <li><a href="https://discord.gg/7NRqsAN" rel="nofollow" target="_blank">Discord</a></li>
                        <li><a href="https://bitcointalk.org/index.php?topic=3655657.0" target="_blank" rel="nofollow">Bitcointalk</a></li>
                        <li><a href="https://trello.com/b/3QPfSlfL" target="_blank" rel="nofollow">Trello</a></li>
                        <li><a href="https://www.youtube.com/channel/UCV4o0e0gtVAU2K97TVxYWcA" target="_blank" rel="nofollow">Youtube</a></li>
                        <li><a href="https://github.com/GiantPay/GiantCore" rel="nofollow" target="_blank">Github</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <h3>Documentation</h3>
                    <ul class="widget_links">
                        <li><a href="/whitepaper">Giant WP</a></li>
                        <li><a href="/whitepaper/contracts">GiantContracts WP</a></li>
                        <li><a href="https://trello.com/b/3QPfSlfL" target="_blank" rel="nofollow">Giant Workflow</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- ./Widget Section -->

    <footer class="footer_section">
        <div class="container">
            <div class="copyright">Giant Coin &copy; 2018 All Rights Reserved.</div>
        </div>
    </footer><!-- /.footer_section -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.3/venobox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.webticker/3.0.0/jquery.webticker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="/js/main.js?004"></script>
</th:block>
</body>
</html>