<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.4.0/css/slider-pro.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
    <link rel="stylesheet" href="/css/site.css"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/tagManager.js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-11023961-18');
    </script>
</th:block>
<body>
<noscript style="display:none;visibility:hidden">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
            height="0" width="0"></iframe>
</noscript>
<th:block th:fragment="mainmenu">
    <div class="header-top">
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top navbar-expand-lg">
                <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
                <div class="navbar-header">
                    <button class="navbar-toggler collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="/whitepaper">White Paper</a></li>
                        <li><a href="/wallet">WALLET</a></li>
                        <li class="nav-item dropdown d-none">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">ABOUT</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="d-none dropdown-item" href="/wallet">Wallets</a>
                                <a class="dropdown-item" href="https://github.com/GiantPay" target="_blank"
                                   rel="nofollow">Github</a>
                                <a class="dropdown-item" href="/whitepaper">White Papers</a>
                                <a class="dropdown-item" href="/about">Specification</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">WORKFLOW</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/team">Team</a>
                            </div>
                        </li>

                        <li class="d-none"><a href="/roadmap">WORKFLOW</a></li>
                        <li><a href="/products">PRODUCTS</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">INVESTMENTS</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/proof">Proof-of-Stake</a>
                                <a class="dropdown-item" href="/masternodes">Masternodes</a>
                            </div>
                        </li>

                        <li class="d-none"><a href="/masternode">INVESTMENTS</a></li>
                        <li class="d-none"><a href="https://github.com/GiantPay" target="_blank"
                                              rel="nofollow">Github</a></li>
                        <li><a href="/pages">NEWS</a></li>
                    </ul>
                </div>
                <div class="dropdown dropdown-custom d-none">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-custom"
                            id="dropdownMenuButton"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span>fr</span><img src="/images/france.svg">
                    </button>
                    <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <span>fr</span><img src="/images/france.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>ge</span><img src="/images/germany.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>kaz</span><img src="/images/kazakhstan.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>pol</span><img src="/images/poland.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>por</span><img src="/images/portugal.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>ru</span><img src="/images/russia.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>sp</span><img src="/images/spain.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>sw</span><img src="/images/sweden.svg">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</th:block>
</body>
</html>