<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.4.0/css/slider-pro.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}"/>

    <th:block th:replace="blocks/browserIcons :: icons"></th:block>

    <link rel="manifest" th:href="@{/images/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/tagManager.js}"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-11023961-18');
    </script>
    <script>
        $(document).ready(function () {
            var header = document.getElementsByClassName("header-top")[0];
            var style = window.getComputedStyle(header);
            var position = style.getPropertyValue("position");
            //For mobile
            if (position === "fixed") {
                var height = header.clientHeight;
                $('.cookies').css("position", "fixed");
                $('.cookies').css("top", height);
            }
        })
    </script>
</th:block>
<body>
<th:block th:fragment="mainmenu">
    <noscript style="display:none;visibility:hidden">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKVBDB"
                height="0" width="0"></iframe>
    </noscript>

    <div class="cookies">
        <div class="container flex">
            <p>
                Our website is using the Cookies technology. By continuing to use our site, you are accepting the <a
                    th:href="@{/GiantTermsOfService.pdf}">Terms of Use</a>
            </p>
            <button class="cookie-btn">Accept</button>
            <span class="close-cookie">
				Close
			</span>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top navbar-expand-lg">
                <a class="navbar-brand" href="/"><img th:src="@{/images/logo.png}"></a>
                <div class="navbar-header">
                    <button class="navbar-toggler collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">About</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/whitepaper">White Paper</a>
                                <a class="dropdown-item" href="/about">Specification</a>
                            </div>
                        </li>

                        <li><a href="/products">PRODUCTS</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Giant Coin</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/masternodes">Masternodes</a>
                                <a class="dropdown-item" href="/proof-of-stake">Proof-of-Stake</a>
                                <a class="dropdown-item" href="/exchanges">Exchanges</a>
                            </div>
                        </li>

                        <li><a href="/wallet">WALLET</a></li>

                        <li><a href="http://explorer.giantpay.network" target="_blank">EXPLORER</a></li>
                        <li class="d-none"><a href="/roadmap">WORKFLOW</a></li>

                        <li class="d-none"><a href="/masternode">INVESTMENTS</a></li>
                        <li class="d-none"><a href="https://github.com/GiantPay" target="_blank"
                                              rel="nofollow">Github</a></li>

                        <li><a href="/team">Team</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">WORKFLOW</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/roadmap">RoadMap</a>
                                <a class="dropdown-item" target="_blank" href="https://trello.com/b/3QPfSlfL">Trello</a>
                                <a class="dropdown-item" target="_blank" href="https://github.com/GiantPay">Github</a>
                            </div>
                        </li>

                        <li><a href="/pages">NEWS</a></li>
                    </ul>
                </div>
                <div class="dropdown dropdown-custom d-none">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-custom"
                            id="dropdownMenuButton"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span>fr</span><img src="/images/france.svg">
                    </button>
                    <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <span>fr</span><img src="/images/france.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>ge</span><img src="/images/germany.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>kaz</span><img src="/images/kazakhstan.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>pol</span><img src="/images/poland.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>por</span><img src="/images/portugal.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>ru</span><img src="/images/russia.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>sp</span><img src="/images/spain.svg">
                        </a>
                        <a class="dropdown-item" href="#">
                            <span>sw</span><img src="/images/sweden.svg">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</th:block>

<th:block th:fragment="header_scripts">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js"></script>
    <script th:src="@{/js/jquery.spincrement.min.js}"></script>
    <script th:src="@{/js/owl.carousel.js}"></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</th:block>
</body>
</html>