<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="head">
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper" th:classappend="${giant} ? active : ''">
            <img src="/images/whitepaper-giant.png" class="active wp-cover" width="300"/>
        </a>
    </div>
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper/contracts" th:classappend="${contracts} ? active : ''">
            <img src="/images/whitepaper-contracts.png" class="active wp-cover" width="300"/>
        </a>
    </div>
    <div class="col-sm-12 col-md-4">
        <a href="/whitepaper/exchange" th:classappend="${exchange} ? active : ''">
            <img src="/images/whitepaper-exchange.png" class="active wp-cover" width="300"/>
        </a>
    </div>
</th:block>
</body>
</html>